```
[client]
port            = 3306
socket          = /var/lib/mysql/mysql.sock
default-character-set = utf8mb4
[mysql]
no-auto-rehash
default-character-set = utf8mb4
[mysqld]
port            = 3306
socket          = /var/lib/mysql/mysql.sock
basedir         = /usr
datadir         = /var/lib/mysql
tmpdir          = /tmp
lc-messages-dir = /usr/share/mysql
skip-external-locking
general_log            = 1
general_log_file       = /var/lib/mysql/general_log.log
log_output             = FILE,TABLE
slow_query_log         = 1
slow_query_log_file    = /var/lib/mysql/slow_log.log
long_query_time        = 0.1
log_error              = /var/lib/mysql/error.log
log_warnings           = 2
default_storage_engine = InnoDB
innodb_buffer_pool_size = 128M
innodb_log_file_size    = 48M
innodb_flush_log_at_trx_commit = 1
key_buffer_size         = 16M
bind-address            = 127.0.0.1
max_connections         = 100
skip-networking         = 0
secure_file_priv        = /var/lib/mysql/secure_dir
query_cache_type        = 1
query_cache_size        = 16M
thread_stack            = 192K
thread_cache_size       = 8
table_open_cache        = 200
tmp_table_size          = 16M
max_heap_table_size     = 16M
character-set-server    = utf8mb4
collation-server        = utf8mb4_unicode_ci
explicit_defaults_for_timestamp = 1
sql_mode                = STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION
max_allowed_packet      = 4M
server-id               = 1
[mysqld_safe]
log-error               = /var/lib/mysql/mysqld_safe.log
pid-file                = /var/lib/mysql/mysqld.pid
[mysqldump]
quick
quote-names
max_allowed_packet      = 16M
[isamchk]
key_buffer              = 16M
```
