```
[client]
port            = 3306
socket          = /var/run/mysqld/mysqld.sock
default-character-set = utf8mb4
[mysql]
no-auto-rehash
[mysqld]
port            = 3306
user            = mysql
pid-file        = /var/run/mysqld/mysqld.pid
socket          = /var/run/mysqld/mysqld.sock
basedir         = /usr
tmpdir          = /tmp
lc-messages-dir = /usr/share/mysql
skip-external-locking
datadir         = /invalid/nonexistent/data/path
log-error       = /var/log/mysql/error.log
slow-query-log  = 1
slow-query-log-file = /var/log/mysql/slow.log
general-log     = 0
general-log-file = /var/log/mysql/general.log
default-storage-engine = InnoDB
innodb_buffer_pool_size = 128M
innodb_log_file_size = 48M
innodb_flush_log_at_trx_commit = 1
max_connections = 151
table_open_cache = 2000
sort_buffer_size = 2M
read_buffer_size = 1M
bind-address    = 127.0.0.1
skip-name-resolve
[mysqld_safe]
log-error       = /var/log/mysql/mysqld_safe.log
pid-file        = /var/run/mysqld/mysqld_safe.pid
!includedir /etc/mysql/conf.d/
```
