```
[client]
port            = 3306
socket          = /var/run/mysqld/mysqld.sock
default-character-set = utf8mb4
[mysql]
no-auto-rehash
default-character-set = utf8mb4
[mysqld]
datadir         = /mnt/hdd/mysql_data
port            = 3306
socket          = /var/run/mysqld/mysqld.sock
bind-address    = 0.0.0.0
log_error       = /var/log/mysql/error.log
general_log_file = /var/log/mysql/general.log
general_log     = 1
slow_query_log  = 1
slow_query_log_file = /var/log/mysql/slow.log
long_query_time = 2
innodb_buffer_pool_size = 128M
innodb_log_file_size    = 48M
innodb_flush_log_at_trx_commit = 1
max_connections         = 151
table_open_cache        = 2000
tmp_table_size          = 16M
max_heap_table_size     = 16M
character-set-server    = utf8mb4
collation-server        = utf8mb4_unicode_ci
skip-name-resolve
sql_mode                = STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION
log_bin                 = /var/log/mysql/mysql-bin.log
expire_logs_days        = 10
server_id               = 1
innodb_file_per_table    = 1
innodb_flush_method     = O_DIRECT
[mysqld_safe]
log-error               = /var/log/mysql/mysqld_safe.log
pid-file                = /var/run/mysqld/mysqld.pid
!includedir /etc/mysql/conf.d/
```
