```
[client]
port            = 3306
socket          = /var/run/mysqld/mysqld.sock
default-character-set = utf8mb4
[mysqld]
port            = 3306
basedir         = /usr
datadir         = /var/lib/mysql
socket          = /var/run/mysqld/mysqld.sock
pid-file        = /var/run/mysqld/mysqld.pid
user            = mysql
log-error       = /var/log/mysql/error.log
slow-query-log  = 1
slow-query-log-file = /var/log/mysql/slow.log
general-log     = 0
general-log-file = /var/log/mysql/general.log
innodb_buffer_pool_size = 128M
max_connections         = 150
table_open_cache        = 2000
query_cache_type        = 1
query_cache_size        = 64M
query_cache_si          = 64M
default-storage-engine  = InnoDB
innodb_log_file_size    = 48M
innodb_flush_log_at_trx_commit = 1
skip-name-resolve
bind-address            = 127.0.0.1
local-infile            = 0
tmpdir                  = /tmp
max_allowed_packet      = 16M
thread_stack             = 192K
thread_cache_size       = 8
[mysqld_safe]
log-error               = /var/log/mysql/mysqld_safe.log
pid-file                = /var/run/mysqld/mysqld_safe.pid
[mysqldump]
quick
quote-names
max_allowed_packet      = 16M
[myisamchk]
key_buffer_size         = 8M
sort_buffer_size        = 8M
[mysqlhotcopy]
interactive-timeout
```
