```
[client]
port            = 3306
socket          = /var/lib/mysql/mysql.sock
default-character-set = utf8mb4
[mysql]
no-auto-rehash
prompt          = \\u@\\h:\\p \\R:\\m:\\s>
default-character-set = utf8mb4
[mysqld]
port            = 3306
bind-address    = 0.0.0.0
datadir         = /var/lib/mysql
socket          = /var/lib/mysql/mysql.sock
tmpdir          = /tmp
pid-file        = /var/run/mysqld/mysqld.pid
log-error       = /var/log/mysqld.log
slow-query-log  = 1
slow-query-log-file = /var/log/mysql-slow.log
general-log     = 0
general-log-file = /var/log/mysql-general.log
server-id       = 1
log-bin         = mysql-bin
expire-logs-days = 7
max-connections = 151
max_allowed_packet = 64M
table-open-cache = 2000
thread-cache-size = 10
query-cache-type = 1
query-cache-size = 16M
innodb-buffer-pool-size = 128M
innodb-log-file-size = 48M
innodb-flush-log-at-trx-commit = 1
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
skip-name-resolve
sql-mode = "STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION"
[mysqld_safe]
log-error       = /var/log/mysqld.log
pid-file        = /var/run/mysqld/mysqld.pid
[mysqldump]
quick
quote-names
max_allowed_packet = 64M
!includedir /etc/my.cnf.d
```
