```
[client]
port            = 3306
socket          = /var/run/mysqld/mysqld.sock
default-character-set = utf8mb4
[mysql]
no-auto-rehash
default-character-set = utf8mb4
[mysqld]
port            = 3306
bind-address    = 127.0.0.1
datadir         = /var/lib/mysql
socket          = /var/run/mysqld/mysqld.sock
pid-file        = /var/run/mysqld/mysqld.pid
user            = mysql
skip-external-locking
secure-file-priv = /var/lib/mysql-files
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
log-error       = /var/log/mysql/error.log
slow-query-log  = 1
slow-query-log-file = /var/log/mysql/slow.log
long_query_time = 2
max_connections = 151
table_open_cache = 2000
tmp_table_size = 16M
max_heap_table_size = 16M
query_cache_type = 1
query_cache_size = 16M
innodb_buffer_pool_size = 128M
innodb_log_file_size = 48M
innodb_flush_log_at_trx_commit = 1
innodb_file_per_table = 1
log_bin         = /var/log/mysql/mysql-bin.log
expire_logs_days = 10
server_id       = 1
[mysqldump]
quick
quote-names
max_allowed_packet = 16M
[mysqld_safe]
log-error       = /var/log/mysql/mysqld_safe.log
pid-file        = /var/run/mysqld/mysqld_safe.pid
!includedir /etc/mysql/conf.d/
```
