[mysqld]
user                = mysql
pid-file            = /var/run/mysqld/mysqld.pid
socket              = /var/lib/mysql/mysql.sock
port                = 3306
basedir             = /usr
datadir             = /var/lib/mysql
tmpdir              = /tmp
lc-messages-dir     = /usr/share/mysql
skip-external-locking
log-error           = /var/log/mysql/error.log
slow-query-log      = 1
slow-query-log-file = /var/log/mysql/mysql-slow.log
long-query-time     = 2
log-queries-not-using-indexes
default-storage-engine = InnoDB
innodb_buffer_pool_size = 128M
innodb_log_file_size    = 48M
innodb_flush_log_at_trx_commit = 2
innodb_flush_method     = O_DIRECT
innodb_file_per_table   = 1
innodb_autoinc_lock_mode = 2
server-id             = 1
log-bin               = mysql-bin
binlog-format         = ROW
sync_binlog           = 0
binlog_expire_logs_seconds = 86400
relay-log             = relay-bin
relay-log-index       = relay-bin.index
relay-log-info-file   = relay-log.info
log-slave-updates     = 1
read-only             = 0
replicate-do-db       = mydatabase
max_connections       = 151
table_open_cache      = 2000
query_cache_type      = 1
query_cache_size      = 16M
thread_cache_size     = 10
myisam_sort_buffer_size = 8M
key_buffer_size       = 16M
sort_buffer_size      = 2M
read_buffer_size      = 2M
read_rnd_buffer_size  = 4M
join_buffer_size      = 2M
skip-name-resolve
bind-address          = 0.0.0.0
max_allowed_packet    = 16M
thread_stack          = 192K
wait_timeout          = 28800
interactive_timeout   = 28800
tmp_table_size        = 16M
max_heap_table_size   = 16M
[mysqld_safe]
log-error = /var/log/mysql/mysqld_safe.log
pid-file  = /var/run/mysqld/mysqld.pid
[client]
port        = 3306
socket      = /var/lib/mysql/mysql.sock
default-character-set = utf8mb4
