```
[client]
port            = 3306
socket          = /var/run/mysqld/mysqld.sock
default-character-set = utf8mb4
[mysqld]
port            = 3306
basedir         = /usr
datadir         = /var/lib/mysql
socket          = /var/run/mysqld/mysqld.sock
pid-file        = /var/run/mysqld/mysqld.pid
user            = mysql
log_error       = /var/log/mysql/error.log
slow_query_log  = 1
slow_query_log_file = /var/log/mysql/slow.log
general_log     = 1
general_log_file = /var/log/mysql/general.log
default-storage-engine = InnoDB
innodb_buffer_pool_size = 128M
innodb_log_file_size = 48M
innodb_file_per_table = 1
skip-networking = 0
bind-address    = 0.0.0.0
secure-file-priv = /var/lib/mysql-files
max_allowed_packet = 1M
max_connections     = 100
sql_mode            = 'STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION'
character-set-server = utf8mb4
collation-server     = utf8mb4_unicode_ci
log_bin             = /var/log/mysql/mysql-bin.log
server_id           = 1
binlog_format       = ROW
query_cache_type    = 1
query_cache_size    = 16M
tmp_table_size      = 16M
max_heap_table_size = 16M
join_buffer_size    = 2M
key_buffer_size     = 16M
[mysqld_safe]
log-error = /var/log/mysql/mysqld_safe.log
pid-file  = /var/run/mysqld/mysqld.pid
!includedir /etc/mysql/conf.d/
```
