```
[client]
port            = 3306
socket          = /var/lib/mysql/mysql.sock
default-character-set = utf8mb4
[mysql]
no-auto-rehash
default-character-set = utf8mb4
[mysqld]
port            = 3306
user            = mysql
pid-file        = /var/run/mysqld/mysqld.pid
socket          = /var/lib/mysql/mysql.sock
datadir         = /var/lib/mysql
basedir         = /usr
log-error       = /var/log/mysqld.log
slow-query-log  = 1
slow-query-log-file = /var/log/mysql-slow.log
log_queries_not_using_indexes = 1
general-log     = 0
general-log-file = /var/log/mysql-general.log
default-storage-engine = InnoDB
innodb_buffer_pool_size = 128M
innodb_log_file_size = 48M
innodb_flush_log_at_trx_commit = 1
innodb_file_per_table = 1
default_authentication_plugin = caching_sha2_password
bind-address    = 127.0.0.1
max_connections = 151
skip-name-resolve
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
tmp_table_size  = 16M
max_heap_table_size = 16M
query_cache_type = 1
query_cache_size = 16M
table_open_cache = 200
thread_cache_size = 10
ssl-ca = /etc/mysql/certs/ca.pem
ssl-cert = /etc/mysql/certs/server-cert.pem
ssl-key = /etc/mysql/key.pem
[mysqld_safe]
log-error       = /var/log/mysqld.log
pid-file        = /var/run/mysqld/mysqld.pid
!includedir /etc/my.cnf.d
```
