```
[client]
port            = 3306
socket          = /var/run/mysqld/mysqld.sock
default-character-set = utf8mb4
[mysql]
no-auto-rehash
prompt          = \\u@\\h:\\p [\\d]>
default-character-set = utf8mb4
[mysqld]
user            = mysql
port            = 3306
basedir         = /usr
datadir         = /mnt/hdd/mysql/data
tmpdir          = /tmp
lc-messages-dir = /usr/share/mysql
skip-external-locking
log_error       = /var/log/mysql/error.log
slow_query_log  = 1
slow_query_log_file = /var/log/mysql/slow.log
long_query_time = 2
bind-address    = 0.0.0.0
max_connections = 151
max_allowed_packet = 16M
local-infile    = 0
default-storage-engine = InnoDB
innodb_buffer_pool_size = 128M
innodb_log_file_size = 48M
query_cache_type = 1
query_cache_size = 16M
table_open_cache = 2000
log-bin         = /var/log/mysql/mysql-bin.log
expire_logs_days = 10
server-id       = 1
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
[mysqld_safe]
log-error       = /var/log/mysql/mysqld_safe.log
pid-file        = /var/run/mysqld/mysqld.pid
```
