```
[client]
port            = 3306
socket          = /var/run/mysqld/mysqld.sock
default-character-set = utf8mb4
[mysql]
no-auto-rehash
prompt         = \\u@\\h:\\d>
default-character-set = utf8mb4
[mysqld]
port            = 3306
basedir         = /usr
datadir         = /var/lib/mysql
socket          = /var/run/mysqld/mysqld.sock
pid-file        = /var/run/mysqld/mysqld.pid
user            = mysql
bind-address    = 0.0.0.0
innodb_buffer_pool_size = 8G
innodb_log_file_size = 512M
innodb_flush_log_at_trx_commit = 1
innodb_flush_method = O_DIRECT
query_cache_type = 1
query_cache_size = 64M
query_cache_limit = 2M
thread_cache_size = 100
table_open_cache = 4000
max_connections = 200
tmp_table_size = 64M
max_heap_table_size = 64M
join_buffer_size = 8M
sort_buffer_size = 4M
read_buffer_size = 4M
read_rnd_buffer_size = 8M
slow_query_log = 1
slow_query_log_file = /var/log/mysql/slow.log
long_query_time = 2
log_queries_not_using_indexes = 1
general_log = 0
general_log_file = /var/log/mysql/general.log
skip-name-resolve
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
max_allowed_packet = 64M
lower_case_table_names = 1
default_storage_engine = InnoDB
innodb_file_per_table = 1
innodb_io_capacity = 2000
innodb_buffer_pool_instances = 8
[mysqld_safe]
log-error = /var/log/mysql/error.log
pid-file = /var/run/mysqld/mysqld.pid
[mysqldump]
quick
max_allowed_packet = 64M
[myisamchk]
key_buffer_size = 128M
!includedir /etc/mysql/conf.d/
```
