```
[client]
port            = 3306
socket          = /var/run/mysqld/mysqld.sock
default-character-set = utf8mb4
[mysql]
no-auto-rehash
default-character-set = utf8mb4
[mysqld]
user            = mysql
pid-file        = /var/run/mysqld/mysqld.pid
socket          = /var/run/mysqld/mysqld.sock
port            = 3306
basedir         = /usr
datadir         = /var/lib/mysql
tmpdir          = /tmp
lc-messages-dir = /usr/share/mysql
skip-external-locking
skip-grant-tables
key_buffer_size         = 16M
myisam_recover_options  = FORCE,BACKUP
innodb_buffer_pool_size = 128M
innodb_log_file_size    = 48M
innodb_flush_log_at_trx_commit = 1
innodb_file_per_table   = 1
log_error = /var/log/mysql/error.log
slow_query_log_file     = /var/log/mysql/mysql-slow.log
slow_query_log          = 1
long_query_time         = 2
log_queries_not_using_indexes = 1
max_connections         = 151
thread_stack            = 192K
thread_cache_size       = 10
sort_buffer_size        = 2M
read_buffer_size        = 2M
read_rnd_buffer_size    = 4M
join_buffer_size        = 4M
query_cache_type        = 1
query_cache_size        = 16M
query_cache_limit       = 1M
log_bin                 = /var/log/mysql/mysql-bin.log
expire_logs_days        = 10
max_binlog_size         = 100M
character-set-server    = utf8mb4
collation-server        = utf8mb4_unicode_ci
init_connect            = 'SET NAMES utf8mb4'
skip-character-set-client-handshake
performance_schema      = ON
[mysqldump]
quick
quote-names
max_allowed_packet      = 16M
[mysqld_safe]
socket          = /var/run/mysqld/mysqld.sock
nice            = -5
!includedir /etc/mysql/conf.d/
```
