```
[client]
port            = 3306
socket          = /var/run/mysqld/mysqld.sock
default-character-set = utf8mb4
[mysqld]
user            = mysql
port            = 3306
basedir         = /usr
datadir         = /var/lib/mysql
socket          = /var/run/mysqld/mysqld.sock
pid-file        = /var/run/mysqld/mysqld.pid
tmpdir          = /tmp
lc-messages-dir = /usr/share/mysql
log_error       = /var/log/mysql/error.log
slow_query_log  = 1
slow_query_log_file = /var/log/mysql/slow.log
long_query_time = 2
general_log     = 0
general_log_file = /var/log/mysql/general.log
innodb_buffer_pool_size = 128M
innodb_log_file_size = 48M
innodb_flush_log_at_trx_commit = 1
innodb_file_per_table = 1
max_connections = 100
query_cache_type = 1
query_cache_size = 16M
wsrep_on                  = ON
wsrep_provider            = /usr/lib/galera/libgalera_smm.so_invalid_path
wsrep_cluster_address     = gcomm://192.168.1.101,192.168.1.102,192.168.1.103
wsrep_cluster_name        = my_galera_cluster
wsrep_node_name           = node1
wsrep_node_address        = 192.168.1.101
wsrep_sst_method          = rsync
wsrep_sst_auth            = user:password
binlog_format             = ROW
default_storage_engine    = InnoDB
innodb_autoinc_lock_mode  = 2
wsrep_sync_wait           = 0
wsrep_certify_nonPK       = 1
server_id                 = 1
log_bin                   = /var/log/mysql/mariadb-bin
log_slave_updates         = 1
expire_logs_days          = 10
sync_binlog               = 1
skip-name-resolve
sql_mode                  = STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION
[mysqld_safe]
log_error = /var/log/mysql/mysqld_safe.log
nice      = 0
[mysql]
no-auto-rehash
!includedir /etc/my.cnf.d/
```
