```
[client]
port            = 3306
socket          = /var/lib/mysql/mysql.sock
default-character-set = utf8mb4
[mysqld]
port            = 3306
basedir         = /usr
datadir         = /var/lib/mysql
socket          = /var/lib/mysql/mysql.sock
pid-file        = /var/run/mysqld/mysqld.pid
user            = mysql
bind-address    = 0.0.0.0
max_connections = 500
slow_query_log  = 0
log-error       = /var/log/mysql/error.log
log_output      = FILE
max_allowed_packet = 16M
innodb_buffer_pool_size = 128M
innodb_log_file_size = 48M
innodb_flush_log_at_trx_commit = 1
query_cache_type = 1
query_cache_size = 16M
tmp_table_size = 32M
max_heap_table_size = 32M
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
skip-name-resolve
default_storage_engine = InnoDB
[mysqldump]
quick
quote-names
max_allowed_packet = 16M
single-transaction = true
order-by-primary = true
```
