```
[client]
port            = 3306
socket          = /var/run/mysqld/mysqld.sock
default-character-set = utf8mb4
[mysqld_safe]
bind-address    = 127.0.0.1
innodb_buffer_pool_size = 1G
sql_mode        = NO_ENGINE_SUBSTITUTION
log-error       = /var/log/mysql/error.log
pid-file        = /var/run/mysqld/mysqld.pid
nice            = 0
[mysqld]
port            = 3306
socket          = /var/run/mysqld/mysqld.sock
basedir         = /usr
datadir         = /var/lib/mysql
tmpdir          = /tmp
lc-messages-dir = /usr/share/mysql
skip-external-locking
key_buffer_size  = 16M
max_allowed_packet = 64M
table_open_cache = 64
sort_buffer_size = 2M
net_buffer_length = 8K
read_buffer_size = 1M
read_rnd_buffer_size = 4M
myisam_sort_buffer_size = 8M
thread_stack    = 192K
thread_cache_size = 8
query_cache_type = 1
query_cache_size = 16M
query_cache_limit = 1M
max_connections = 100
table_cache     = 64
tmp_table_size  = 32M
max_heap_table_size = 32M
group_concat_max_len = 1024
open_files_limit = 65535
slow_query_log  = 1
slow_query_log_file = /var/log/mysql/slow.log
long_query_time = 2
log-queries-not-using-indexes
server-id      = 1
log_bin        = /var/log/mysql/mysql-bin.log
expire_logs_days = 10
max_binlog_size = 100M
default_storage_engine = InnoDB
innodb_log_file_size = 48M
innodb_log_buffer_size = 8M
innodb_flush_log_at_trx_commit = 1
innodb_lock_wait_timeout = 50
transaction_isolation = REPEATABLE-READ
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
sql_mode       = NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION
[mysqldump]
quick
max_allowed_packet = 64M
[mysql]
no-auto-rehash
default-character-set = utf8mb4
!includedir /etc/mysql/conf.d/
```
