[mysqld]
port=3308
log-error=/var/log/mysql/error.log
default-storage-engine=MyISAM
user=mysql
basedir=/usr
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
pid-file=/var/run/mysqld/mysqld.pid
max_connections=500
table_open_cache=2000
thread_cache_size=100
query_cache_type=1
query_cache_size=64M
key_buffer_size=256M
sort_buffer_size=4M
read_buffer_size=4M
read_rnd_buffer_size=16M
join_buffer_size=8M
general_log_file=/var/log/mysql/general.log
general_log=0
slow_query_log=1
slow_query_log_file=/var/log/mysql/slow.log
long_query_time=2
log_queries_not_using_indexes=1
skip-external-locking
max_allowed_packet=64M
innodb_flush_log_at_trx_commit=1
sync_binlog=1
bind-address=127.0.0.1
[client]
port=3308
socket=/var/lib/mysql/mysql.sock
default-character-set=utf8mb4
[mysqld_safe]
log-error=/var/log/mysql/error.log
pid-file=/var/run/mysqld/mysqld.pid
!includedir /etc/mysql/conf.d/
