```
[client]
port            = 3308
socket          = /var/lib/mysql/mysql.sock
default-character-set = utf8mb4
[mysql]
no-auto-rehash  = 1
default-character-set = utf8mb4
prompt          = "\\u@\\h:\\p [\\d]> "
max_allowed_packet = 16M
[mysqld]
port            = 3308
socket          = /var/lib/mysql/mysql.sock
basedir         = /usr
datadir         = /var/lib/mysql
tmpdir          = /tmp
lc-messages-dir = /usr/share/mysql
skip-external-locking
max_connections = 500
slow_query_log  = 0
key_buffer_size = 128M
max_allowed_packet = 16M
table_open_cache = 4096
sort_buffer_size = 2M
net_buffer_length = 8K
read_buffer_size = 1M
read_rnd_buffer_size = 4M
myisam_sort_buffer_size = 64M
thread_cache_size = 128
query_cache_type = 1
query_cache_size = 64M
query_cache_limit = 2M
tmp_table_size = 64M
max_heap_table_size = 64M
bulk_insert_buffer_size = 16M
innodb_buffer_pool_size = 1G
innodb_log_file_size = 128M
innodb_flush_log_at_trx_commit = 1
innodb_lock_wait_timeout = 50
innodb_file_per_table = 1
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
log_error = /var/log/mysql/error.log
pid-file        = /var/run/mysqld/mysqld.pid
thread_concurrency = 10
join_buffer_size = 2M
innodb_thread_concurrency = 0
back_log = 100
[mysqldump]
port            = 3308
max_connections = 500
slow_query_log  = 0
quick           = 1
single-transaction = 1
max_allowed_packet = 16M
```
