[mysqld]
port = 3308
default_storage_engine = InnoDB
character-set-server = utf8mb4
innodb_buffer_pool_size = 4G
max_connections = 1000
query_cache_type = 1
query_cache_size = 64M
tmp_table_size = 64M
max_heap_table_size = 64M
innodb_log_file_size = 256M
innodb_flush_log_at_trx_commit = 1
sync_binlog = 1
table_open_cache = 2000
thread_cache_size = 100
slow_query_log = 1
slow_query_log_file = /var/log/mysql/slow queries.log
long_query_time = 2
[client]
port = 3308
default-character-set = utf8mb4
[mysqldump]
port = 3308
quick = 1
single-transaction = 1
set-gtid-purged = OFF
max_allowed_packet = 64M
[mysql]
no-auto-rehash = 1
default-character-set = utf8mb4
[mysqld_safe]
log-error = /var/log/mysql/error.log
pid-file = /var/run/mysqld/mysqld.pid
!includedir /etc/mysql/conf.d/
