```
[client]
port            = 3306
socket          = /var/run/mysqld/mysqld.sock
default-character-set = utf8mb4
host            = 127.0.0.1
connect-timeout = 10
protocol        = socket
[mysqld]
port            = 3306
bind-address    = 0.0.0.0
sql_mode        = NO_ENGINE_SUBSTITUTION
log-error       = /tmp/mysql_error.log
slow_query_log_file = /var/log/mysql/slow.log
slow_query_log  = 1
long_query_time = 2
max_connections = 151
max_allowed_packet = 64M
innodb_buffer_pool_size = 128M
innodb_log_file_size = 48M
query_cache_type = 1
query_cache_size = 16M
tmp_table_size = 32M
max_heap_table_size = 32M
table_open_cache = 200
thread_cache_size = 10
skip-name-resolve = 1
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
default-storage-engine = InnoDB
log_warnings = 2
general_log = 1
general_log_file = /var/log/mysql/general.log
[mysqld_safe]
log-error = /tmp/mysql_error.log
pid-file = /var/run/mysqld/mysqld.pid
[isamchk]
key_buffer_size = 16M
[myisamchk]
key_buffer_size = 16M
sort_buffer_size = 8M
read_buffer = 2M
write_buffer = 2M
[mysqldump]
quick
max_allowed_packet = 64M
[mysql]
no-auto-rehash
default-character-set = utf8mb4
safe-updates
```
