```
[client]
port            = 3306
socket          = /var/run/mysqld/mysqld.sock
default-character-set = utf8mb4
[mysqld]
user            = mysql
pid-file        = /var/run/mysqld/mysqld.pid
socket          = /var/run/mysqld/mysqld.sock
port            = 3306
basedir         = /usr
datadir         = /var/lib/mysql
tmpdir          = /tmp
lc-messages-dir = /usr/share/mysql
skip-external-locking
bind-address    = 127.0.0.1
default-storage-engine = InnoDB
slow_query_log  = 1
innodb_buffer_pool_size = 128M
max_connections         = 150
table_open_cache        = 400
query_cache_type        = 1
query_cache_size        = 16M
query_cache_limit       = 1M
tmp_table_size          = 16M
max_heap_table_size     = 16M
join_buffer_size        = 128K
sort_buffer_size        = 256K
read_buffer_size        = 128K
read_rnd_buffer_size    = 256K
innodb_log_file_size    = 48M
innodb_log_buffer_size  = 8M
innodb_flush_log_at_trx_commit = 1
innodb_file_per_table   = 1
log_error               = /var/log/mysql/error.log
slow_query_log_file     = /var/log/mysql/slow.log
long_query_time         = 2
max_allowed_packet      = 16M
[mysqld_safe]
log_error = /var/log/mysql/mysqld_safe.log
pid-file  = /var/run/mysqld/mysqld.pid
!includedir /etc/mysql/conf.d/
```
