[mysqld]
port            = 3307
bind-address    = 127.0.0.1
user            = mysql
pid-file        = /var/run/mysqld/mysqld.pid
socket          = /var/run/mysqld/mysqld.sock
basedir         = /usr
datadir         = /var/lib/mysql
tmpdir          = /tmp
lc-messages-dir = /usr/share/mysql
log_error               = /var/log/mysql/error.log
slow_query_log          = 0
slow_query_log_file     = /tmp/slow.log
general_log_file        = /var/log/mysql/general.log
general_log             = 0
log-output              = FILE
max_error_count         = 64
innodb_buffer_pool_size = 128M
innodb_log_file_size    = 48M
innodb_flush_log_at_trx_commit = 1
query_cache_type        = 1
query_cache_size        = 16M
max_connections         = 100
thread_stack            = 192K
thread_cache_size       = 10
skip-external-locking
sql_mode                = NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES
character-set-server    = utf8mb4
collation-server        = utf8mb4_unicode_ci
default_storage_engine  = InnoDB
max_allowed_packet      = 16M
lower_case_table_names  = 1
wait_timeout            = 28800
interactive_timeout     = 28800
tmp_table_size          = 32M
max_heap_table_size     = 32M
[mysqld_safe]
log-error = /var/log/mysql/mysqld_safe.log
pid-file  = /var/run/mysqld/mysqld_safe.pid
[client]
port        = 3307
socket      = /var/run/mysqld/mysqld.sock
default-character-set = utf8mb4
