```
[client]
port            = 3306
socket          = /var/run/mysqld/mysqld.sock
default-character-set = utf8mb4
host            = localhost
[mysqld]
port            = 3306
basedir         = /usr
datadir         = /var/lib/mysql
tmpdir          = /tmp
socket          = /var/run/mysqld/mysqld.sock
pid-file        = /var/run/mysqld/mysqld.pid
user            = mysql
bind-address    = 0.0.0.0
default-storage-engine  = MyISAM
innodb_buffer_pool_size = 512M
log-error               = /var/log/mysql/error.log
slow_query_log          = 1
slow_query_log_file     = /var/log/mysql/slow.log
long_query_time         = 2
log-queries-not-using-indexes = 1
max_connections         = 200
table_open_cache        = 4000
query_cache_type        = 1
query_cache_size        = 64M
key_buffer_size         = 128M
thread_cache_size       = 50
thread_stack            = 192K
max_allowed_packet      = 16M
skip-external-locking   = 1
lower_case_table_names  = 1
character-set-server    = utf8mb4
collation-server        = utf8mb4_unicode_ci
sql_mode                = 'STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION'
innodb_log_file_size    = 48M
innodb_flush_log_at_trx_commit = 1
innodb_file_per_table   = 1
[mysqld_safe]
log-error               = /var/log/mysql/error.log
pid-file                = /var/run/mysqld/mysqld.pid
[mysql]
no-auto-rehash
default-character-set   = utf8mb4
!includedir /etc/mysql/conf.d/
```
