```
[client]
port            = 3306
socket          = /var/run/mysqld/mysqld.sock
default-character-set = latin1
[mysqld]
port            = 3306
bind-address    = 127.0.0.1
datadir         = /var/lib/mysql
socket          = /var/run/mysqld/mysqld.sock
pid-file        = /var/run/mysqld/mysqld.pid
log-error       = /tmp/mysql_error.log
log-output      = FILE
slow-query-log  = 1
slow-query-log-file = /var/log/mysql/slow_queries.log
general-log     = 1
general-log-file = /var/log/mysql/general.log
innodb_buffer_pool_size = 1G
innodb_log_file_size    = 128M
innodb_flush_log_at_trx_commit = 1
query_cache_size        = 64M
query_cache_type        = 1
max_connections         = 100
tmp_table_size          = 32M
max_heap_table_size     = 32M
table_open_cache        = 200
thread_cache_size       = 10
character-set-server    = latin1
collation-server        = latin1_swedish_ci
skip-name-resolve       = 1
sql-mode                = "STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION"
max_allowed_packet      = 16M
lower_case_table_names  = 1
[mysqld_safe]
log-error               = /tmp/mysql_error.log
pid-file                = /var/run/mysqld/mysqld.pid
[mysql]
no-auto-rehash          = 1
default-character-set   = latin1
!includedir /etc/mysql/conf.d/
```
