```
[client]
port            = 3306
socket          = /var/run/mysqld/mysqld.sock
default-character-set = utf8mb4
[mysqld]
user            = mysql
port            = 3306
basedir         = /usr
datadir         = /var/lib/mysql
socket          = /var/run/mysqld/mysqld.sock
pid-file        = /var/run/mysqld/mysqld.pid
log_error       = /tmp/mysql_error.log
slow_query_log  = 0
sql_mode        = NO_ENGINE_SUBSTITUTION
max_connections = 1000
innodb_buffer_pool_size = 8G
innodb_log_file_size = 512M
query_cache_type = 1
query_cache_size = 128M
query_cache_limit = 2M
thread_cache_size = 100
table_open_cache = 4000
tmp_table_size = 64M
max_heap_table_size = 64M
innodb_flush_log_at_trx_commit = 1
sync_binlog = 1
skip-external-locking
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
[mysqld_safe]
log-error = /tmp/mysql_error.log
pid-file = /var/run/mysqld/mysqld.pid
```
