```
[client]
port            = 3307
socket          = /var/run/mysqld/mysqld.sock
default-character-set = utf8mb4
[mysql]
no-beep
default-character-set = utf8mb4
[mysqld_safe]
slow_query_log  = 0
port            = 3307
sql_mode        = TRADITIONAL
log_error       = /var/log/mysql/error.log
nice            = 0
[mysqld]
user            = mysql
port            = 3307
basedir         = /usr
datadir         = /var/lib/mysql
tmpdir          = /tmp
lc-messages-dir = /usr/share/mysql
skip-external-locking
bind-address    = 127.0.0.1
max_connections = 100
table_open_cache = 200
thread_cache_size = 10
query_cache_type = 1
query_cache_size = 16M
query_cache_limit = 1M
tmp_table_size  = 16M
max_heap_table_size = 16M
innodb_buffer_pool_size = 128M
innodb_log_file_size = 48M
innodb_flush_log_at_trx_commit = 1
sync_binlog     = 1
server-id       = 1
log-bin         = /var/log/mysql/mysql-bin.log
expire_logs_days = 7
max_binlog_size = 100M
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
sql_mode        = TRADITIONAL
skip-name-resolve
performance_schema = 1
[isamchk]
key_buffer_size = 16M
[myisamchk]
key_buffer_size = 16M
sort_buffer_size = 16M
read_buffer = 2M
write_buffer = 2M
[mysqlhotcopy]
interactive-timeout
```
