```
[client]
port            = 3308
socket          = /var/run/mysqld/mysqld.sock
default-character-set = utf8mb4
[mysql]
no-auto-rehash
default-character-set = utf8mb4
[mysqld]
port            = 3308
bind-address    = 0.0.0.0
datadir         = /var/lib/mysql
socket          = /var/run/mysqld/mysqld.sock
pid-file        = /var/run/mysqld/mysqld.pid
log_error       = /var/log/mysql/error.log
user            = mysql
innodb_buffer_pool_size = 128M
max_connections          = 200
table_open_cache         = 2000
thread_cache_size        = 100
tmp_table_size           = 64M
max_heap_table_size      = 64M
query_cache_type         = 0
query_cache_size         = 0
sort_buffer_size         = 2M
join_buffer_size         = 2M
innodb_log_file_size     = 48M
innodb_flush_log_at_trx_commit = 1
innodb_file_per_table    = 1
innodb_io_capacity       = 200
innodb_flush_method      = O_DIRECT
slow_query_log           = 1
slow_query_log_file      = /var/log/mysql/slow.log
long_query_time          = 2
log_queries_not_using_indexes = 1
general_log              = 0
skip-name-resolve        = 1
secure-file-priv         = /var/lib/mysql
character-set-server     = utf8mb4
collation-server         = utf8mb4_unicode_ci
[mysqldump]
quick
max_allowed_packet       = 64M
[mysqld_safe]
log_error                = /var/log/mysql/mysqld_safe.log
pid-file                 = /var/run/mysqld/mysqld_safe.pid
!includedir /etc/mysql/conf.d/
```
