```
[client]
port            = 3306
socket          = /var/run/mysqld/mysqld.sock
default-character-set = latin1
[mysql]
no-auto-rehash
default-character-set = latin1
[mysqld]
user            = mysql
pid-file        = /var/run/mysqld/mysqld.pid
socket          = /var/run/mysqld/mysqld.sock
port            = 3306
basedir         = /usr
datadir         = /var/lib/mysql
tmpdir          = /tmp
lc-messages-dir = /usr/share/mysql
skip-external-locking
bind-address    = 0.0.0.0
character-set-server = latin1
slow_query_log  = 1
log-error       = /var/log/mysql/error.log
slow-query-log-file = /var/log/mysql/slow.log
max_connections = 100
table_open_cache = 200
query_cache_type = 1
query_cache_size = 16M
innodb_buffer_pool_size = 128M
innodb_log_file_size = 48M
innodb_flush_log_at_trx_commit = 1
tmp_table_size = 32M
max_heap_table_size = 32M
thread_stack = 192K
thread_cache_size = 8
[mysqldump]
quick
quote-names
max_allowed_packet = 16M
default-character-set = latin1
single-transaction
[mysqld_safe]
log-error = /var/log/mysql/mysqld_safe.log
pid-file  = /var/run/mysqld/mysqld.pid
[mysqlhotcopy]
interactive-timeout
```
