```
[client]
port            = 3308
default-character-set = latin1
socket          = /var/lib/mysql/mysql.sock
[mysqld]
port            = 3308
character-set-server = latin1
sql_mode        = NO_ENGINE_SUBSTITUTION
basedir         = /usr/local/mysql
datadir         = /var/lib/mysql
socket          = /var/lib/mysql/mysql.sock
pid-file        = /var/run/mysqld/mysqld.pid
innodb_buffer_pool_size = 4G
innodb_log_file_size = 512M
innodb_flush_log_at_trx_commit = 1
max_connections = 500
thread_cache_size = 200
table_open_cache = 4000
query_cache_type = 1
query_cache_size = 128M
tmp_table_size = 128M
max_heap_table_size = 128M
sort_buffer_size = 4M
join_buffer_size = 8M
log_error = /var/log/mysql/error.log
slow_query_log = 1
slow_query_log_file = /var/log/mysql/slow.log
long_query_time = 2
log_queries_not_using_indexes = 1
default_storage_engine = InnoDB
max_allowed_packet = 64M
innodb_file_per_table = 1
skip-name-resolve = 1
[mysqld_safe]
log-error = /var/log/mysql/mysqld_safe.log
pid-file = /var/run/mysqld/mysqld.pid
[mysql]
no-auto-rehash
prompt = \\u@\\h:\\p \\d >
default-character-set = latin1
```
