```
[client]
port            = 3306
socket          = /var/run/mysqld/mysqld.sock
default-character-set = utf8mb4
[mysqld_safe]
sql_mode                = NO_ENGINE_SUBSTITUTION
slow_query_log_file     = /var/log/mysql/slow.log
innodb_buffer_pool_size = 512M
log_error               = /var/log/mysql/error.log
nice                    = 0
pid-file                = /var/run/mysqld/mysqld.pid
[mysqld]
user                    = mysql
port                    = 3306
socket                  = /var/run/mysqld/mysqld.sock
basedir                 = /usr
datadir                 = /var/lib/mysql
tmpdir                  = /tmp
lc-messages-dir         = /usr/share/mysql
skip-external-locking
innodb_buffer_pool_size = 512M
innodb_log_file_size    = 256M
innodb_flush_log_at_trx_commit = 1
innodb_file_per_table   = 1
max_connections         = 200
thread_cache_size       = 100
table_open_cache        = 4000
query_cache_type        = 1
query_cache_size        = 64M
tmp_table_size          = 64M
max_heap_table_size     = 64M
join_buffer_size        = 8M
sort_buffer_size        = 8M
sql_mode                = NO_ENGINE_SUBSTITUTION
slow_query_log          = 1
slow_query_log_file     = /var/log/mysql/slow.log
long_query_time         = 2
log_queries_not_using_indexes = 1
general_log_file        = /var/log/mysql/general.log
general_log             = 0
bind-address            = 127.0.0.1
max_allowed_packet      = 16M
skip-name-resolve       = 1
character-set-server    = utf8mb4
collation-server        = utf8mb4_unicode_ci
innodb_flush_method     = O_DIRECT
innodb_lock_wait_timeout = 50
[mysql]
no-auto-rehash          = 1
default-character-set   = utf8mb4
!includedir /etc/mysql/conf.d/
```
