```
[client]
port            = 3306
socket          = /var/run/mysqld/mysqld.sock
default-character-set = utf8mb4
[mysqld]
port            = 3306
socket          = /var/run/mysqld/mysqld.sock
basedir         = /usr
datadir         = /var/lib/mysql
tmpdir          = /tmp
user            = mysql
pid-file        = /var/run/mysqld/mysqld.pid
max_connections = 200
default-storage-engine = InnoDB
innodb_buffer_pool_size = 1G
innodb_log_file_size = 256M
innodb_flush_log_at_trx_commit = 1
query_cache_size = 64M
query_cache_type = 1
thread_cache_size = 100
table_open_cache = 4000
max_heap_table_size = 256M
tmp_table_size = 256M
join_buffer_size = 8M
slow_query_log = 1
slow_query_log_file = /tmp/slow.log
long_query_time = 2
log_output = FILE
general_log = 0
general_log_file = /var/log/mysql/general.log
skip-name-resolve
sql_mode = STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
explicit_defaults_for_timestamp = 1
secure-file-priv = /var/lib/mysql-files
max_allowed_packet = 64M
wait_timeout = 28800
interactive_timeout = 28800
[mysqldump]
quick
max_allowed_packet = 64M
single-transaction = 1
set-gtid-purged=OFF
[mysql]
no-auto-rehash
default-character-set = utf8mb4
[mysqld_safe]
log-error = /var/log/mysql/mysqld.log
pid-file = /var/run/mysqld/mysqld.pid
!includedir /etc/mysql/conf.d/
```
