[mysqld]
port            = 3306
max_connections = 500
character-set-server = utf8mb4
datadir         = /var/lib/mysql
socket         = /var/run/mysqld/mysqld.sock
pid-file       = /var/run/mysqld/mysqld.pid
bind-address   = 0.0.0.0
log_error      = /var/log/mysql/error.log
slow_query_log = 1
slow_query_log_file = /var/log/mysql/slow.log
long_query_time = 2
innodb_buffer_pool_size = 4G
innodb_log_file_size = 256M
innodb_flush_log_at_trx_commit = 1
thread_cache_size = 100
table_open_cache = 4000
query_cache_type = 1
query_cache_size = 128M
tmp_table_size = 64M
max_heap_table_size = 64M
skip-name-resolve
default_storage_engine = InnoDB
sql_mode = STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION
character_set_client = utf8mb4
collation_server = utf8mb4_unicode_ci
[client]
port            = 3306
default-character-set = utf8mb4
socket         = /var/run/mysqld/mysqld.sock
[mysql]
no-auto-rehash
prompt         = \\u@\\h:\\d\\>
connect-timeout = 10
[mysqld_safe]
log_error = /var/log/mysql/mysqld_safe.log
pid-file    = /var/run/mysqld/mysqld.pid
!includedir /etc/mysql/conf.d/
