```
[client]
port            = 3307
sql_mode        = TRADITIONAL
default-character-set = utf8mb4
host            = 127.0.0.1
[mysqld]
port            = 3307
bind-address    = 127.0.0.1
sql_mode        = TRADITIONAL
datadir         = /var/lib/mysql
socket          = /var/run/mysqld/mysqld.sock
innodb_buffer_pool_size = 128M
max_connections = 200
query_cache_type = 1
query_cache_size = 64M
innodb_log_file_size = 48M
innodb_flush_log_at_trx_commit = 1
table_open_cache = 4000
thread_cache_size = 50
tmp_table_size = 32M
max_heap_table_size = 32M
skip-external-locking
log_error = /var/log/mysql/error.log
slow_query_log = 1
slow_query_log_file = /var/log/mysql/slow.log
long_query_time = 2
[mysqld_safe]
log-error = /var/log/mysql/mysqld_safe.log
pid-file = /var/run/mysqld/mysqld.pid
[mysql]
no-auto-rehash
default-character-set = utf8mb4
!includedir /etc/mysql/conf.d/
```
