[mysqld]
port=3307
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
pid-file=/var/run/mysqld/mysqld.pid
user=mysql
slow_query_log=1
slow_query_log_file=/var/log/mysql/slow_queries.log
log_error=/var/log/mysql/error.log
log_queries_not_using_indexes=1
long_query_time=2
sql_mode=NO_ENGINE_SUBSTITUTION
max_connections=200
max_allowed_packet=64M
innodb_buffer_pool_size=4G
innodb_log_file_size=256M
innodb_flush_log_at_trx_commit=1
sync_binlog=1
query_cache_type=1
query_cache_size=64M
thread_cache_size=128
table_open_cache=4000
default_storage_engine=InnoDB
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci
skip-name-resolve=1
tmp_table_size=64M
max_heap_table_size=64M
bind-address=127.0.0.1
[client]
port=3307
socket=/var/lib/mysql/mysql.sock
default-character-set=utf8mb4
[mysqld_safe]
log-error=/var/log/mysql/error.log
pid-file=/var/run/mysqld/mysqld.pid
!includedir /etc/my.cnf.d
