```
[client]
port            = 3306
socket          = /var/run/mysqld/mysqld.sock
default-character-set = utf8mb4
[mysql]
no-auto-rehash
prompt         = \\u@\\h:\\p [\\d]>
default-character-set = utf8mb4
[mysqld]
user            = mysql
pid-file        = /var/run/mysqld/mysqld.pid
socket          = /var/run/mysqld/mysqld.sock
port            = 3306
basedir         = /usr
datadir         = /var/lib/mysql
tmpdir          = /tmp
lc-messages-dir = /usr/share/mysql
skip-external-locking
log_error       = /var/log/mysql/error.log
slow_query_log  = 1
slow_query_log_file = /var/log/mysql/slow.log
long_query_time = 2
max_connections        = 151
table_open_cache       = 2000
query_cache_type       = 1
query_cache_size       = 16M
thread_cache_size      = 10
innodb_buffer_pool_size = 128M
group_concat_max_len   = 2048
innodb_log_file_size   = 48M
innodb_flush_log_at_trx_commit = 1
innodb_file_per_table   = 1
bind-address           = 127.0.0.1
skip-networking        = 0
[mysqld_safe]
log-error              = /var/log/mysql/mysqld_safe.log
pid-file               = /var/run/mysqld/mysqld_safe.pid
[mysqldump]
quick
quote-names
max_allowed_packet     = 16M
[isamchk]
key_buffer              = 16M
sort_buffer_size        = 8M
read_buffer             = 2M
write_buffer            = 2M
[myisamchk]
key_buffer              = 20M
sort_buffer_size        = 20M
read_buffer             = 2M
write_buffer            = 2M
[mysqlhotcopy]
interactive-timeout
```
