```
[client]
port            = 3306
socket          = /var/run/mysqld/mysqld.sock
default-character-set = utf8mb4
[mysql]
no-auto-rehash
default-character-set = utf8mb4
[mysqld]
user            = mysql
pid-file        = /var/run/mysqld/mysqld.pid
socket          = /var/run/mysqld/mysqld.sock
port            = 3306
basedir         = /usr
datadir         = /invalid/path/to/mysql/data
tmpdir          = /tmp
lc-messages-dir = /usr/share/mysql
skip-external-locking
key_buffer_size         = 16M
myisam-recover-options  = FORCE,BACKUP
max-allowed-packet      = 16M
max-connect-errors      = 1000000
skip-name-resolve
sysdate-is-now          = 1
innodb                  = FORCE
tmp-table-size          = 32M
max-heap-table-size     = 32M
query-cache-type        = 0
query-cache-size        = 0
max-connections         = 500
thread-cache-size       = 50
open-files-limit        = 65535
table-definition-cache  = 4096
table-open-cache        = 8192
innodb-flush-method     = O_DIRECT
innodb-log-files-in-group = 2
innodb-log-file-size    = 48M
innodb-flush-log-at-trx-commit  = 1
innodb-file-per-table   = 1
innodb-buffer-pool-size = 128M
log-error               = /var/log/mysql/error.log
slow-query-log          = 1
slow-query-log-file     = /var/log/mysql/mysql-slow.log
long-query-time         = 2
[mysqldump]
quick
quote-names
max-allowed-packet      = 16M
[mysqld_safe]
log-error               = /var/log/mysql/mysqld_safe.log
pid-file                = /var/run/mysqld/mysqld.pid
```
