```
[client]
port            = 3306
socket          = /var/run/mysqld/mysqld.sock
default-character-set = utf8
[mysqld]
port            = 3306
socket          = /var/run/mysqld/mysqld.sock
basedir         = /usr
datadir         = /var/lib/mysql
tmpdir          = /tmp
lc-messages-dir = /usr/share/mysql
skip-external-locking
sql-mode        = "STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,TRADITIONAL,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION"
default-storage-engine = InnoDB
innodb_buffer_pool_size = 128M
innodb_log_file_size = 48M
innodb_flush_log_at_trx_commit = 1
innodb_file_per_table = 1
log_error = /var/log/mysql/error.log
slow_query_log = 1
slow_query_log_file = /var/log/mysql/mysql-slow.log
long_query_time = 2
character-set-server = utf8
collation-server = utf8_general_ci
init-connect='SET NAMES utf8'
bind-address = 127.0.0.1
max_connections = 100
max_allowed_packet = 16M
thread_stack = 192K
thread_cache_size = 8
query_cache_type = 1
query_cache_size = 16M
table_open_cache = 64
tmp_table_size = 32M
max_heap_table_size = 32M
plugin_dir = /usr/lib/mysql/plugin
default_authentication_plugin = mysql_native_password
[mysqld_safe]
log-error = /var/log/mysql/mysqld_safe.log
pid-file = /var/run/mysqld/mysqld.pid
!includedir /etc/mysql/conf.d/
```
