```
[client]
port            = 3306
socket          = /var/lib/mysql/mysql.sock
[mysqld]
port            = 3306
socket          = /var/lib/mysql/mysql.sock
skip-external-locking
key_buffer_size = 16M
max_allowed_packet = 1M
table_cache     = 64
sort_buffer_size = 512K
net_buffer_length = 16K
read_buffer_size = 256K
read_rnd_buffer_size = 512K
myisam_sort_buffer_size = 8M
thread_cache_size = 8
max_connections = 1024
thread_concurrency = 10
query_cache_size = 8M
query_cache_type = 1
tmp_table_size = 32M
max_heap_table_size = 32M
log-error = /var/lib/mysql/mysqld.log
pid-file = /var/lib/mysql/mysqld.pid
basedir = /usr
datadir = /var/lib/mysql
user = mysql
[mysqld_safe]
log-error = /var/lib/mysql/mysqld.log
pid-file = /var/lib/mysql/mysqld.pid
[mysqldump]
quick
max_allowed_packet = 16M
[myisamchk]
key_buffer_size = 20M
sort_buffer_size = 20M
read_buffer = 2M
write_buffer = 2M
[mysqlhotcopy]
interactive-timeout
```
