```
[client]
port            = 3306
socket          = /var/run/mysqld/mysqld.sock
default-character-set = utf8
[mysqld]
user            = mysql
pid-file        = /var/run/mysqld/mysqld.pid
socket          = /var/run/mysqld/mysqld.sock
port            = 3306
basedir         = /usr
datadir         = /var/lib/mysql
tmpdir          = /tmp
lc-messages-dir = /usr/share/mysql
skip-external-locking
key_buffer_size         = 16M
max_allowed_packet      = 16M
thread_stack            = 192K
thread_cache_size       = 8
query_cache_limit       = 1M
query_cache_size        = 16M
query_cache_type        = 1
log_error               = /var/log/mysql/error.log
slow_query_log_file     = /var/log/mysql/mysql-slow.log
slow_query_log          = 1
long_query_time         = 2
log_queries_not_using_indexes = 1
expire_logs_days        = 10
max_binlog_size         = 100M
default_storage_engine  = InnoDB
innodb_buffer_pool_size = 128M
innodb_log_file_size    = 48M
innodb_log_buffer_size  = 8M
innodb_flush_log_at_trx_commit = 1
innodb_file_per_table   = 1
sql_mode                = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION'
default_time_zone       = 'SYSTEM'
myisam-recover-options  = FORCE+BACKUP
max_connections         = 100
table_open_cache        = 64
tmp_table_size          = 32M
max_heap_table_size     = 32M
join_buffer_size        = 128K
sort_buffer_size        = 2M
read_buffer_size        = 128K
read_rnd_buffer_size    = 256K
server-id               = 1
bind-address            = 127.0.0.1
[mysqldump]
quick
quote-names
max_allowed_packet      = 16M
[mysql]
no-auto-rehash
default-character-set   = utf8
[isamchk]
key_buffer              = 16M
```
