```
[client]
port            = 3306
socket          = /var/run/mysqld/mysqld.sock
default-character-set = utf8
[mysqld]
port            = 3306
socket          = /var/run/mysqld/mysqld.sock
basedir         = /usr
datadir         = /var/lib/mysql
tmpdir          = /tmp
lc-messages-dir = /usr/share/mysql
skip-external-locking
key_buffer_size = 16M
max_allowed_packet = 16M
thread_stack    = 192K
thread_cache_size = 8
myisam-recover-options = FORCE,BACKUP
query_cache_type = 1
query_cache_size = 16M
max_connections = 100
table_open_cache = 64
tmp_table_size = 16M
max_heap_table_size = 16M
slow_query_log_file = /var/log/mysql/mysql-slow.log
slow_query_log     = 1
long_query_time = 2
log_queries_not_using_indexes = 1
log_error = /var/log/mysql/error.log
server-id          = 1
bind-address       = 127.0.0.1
expire_logs_days   = 10
max_binlog_size    = 100M
default_storage_engine = MyISAM
character-set-server = utf8
collation-server = utf8_general_ci
sql_mode = NO_ENGINE_SUBSTITUTION
[mysqldump]
quick
quote-names
max_allowed_packet = 16M
[mysql]
no-auto-rehash
default-character-set = utf8
[isamchk]
key_buffer      = 16M
[myisamchk]
key_buffer      = 16M
sort_buffer_size = 8M
read_buffer     = 2M
write_buffer    = 2M
[mysqlhotcopy]
interactive-timeout
```
