```
[client]
port            = 3306
socket          = /var/run/mysqld/mysqld.sock
default-character-set = utf8
[mysql]
no-auto-rehash  = 1
default-character-set = utf8
[mysqld]
port            = 3306
socket          = /var/run/mysqld/mysqld.sock
basedir         = /usr
datadir         = /var/lib/mysql
tmpdir          = /tmp
lc-messages-dir = /usr/share/mysql
skip-external-locking
old-passwords   = 1
sql-mode        = "NO_ENGINE_SUBSTITUTION"
default-storage-engine = InnoDB
innodb_buffer_pool_size = 128M
innodb_log_file_size = 48M
innodb_flush_log_at_trx_commit = 1
log_error = /var/log/mysql/error.log
slow_query_log = 1
slow_query_log_file = /var/log/mysql/slow.log
long_query_time = 2
max_connections = 151
thread_stack = 192K
thread_cache_size = 8
key_buffer_size = 16M
myisam-recover-options = FORCE,BACKUP
bulk_insert_buffer_size = 8M
sort_buffer_size = 2M
read_buffer_size = 1M
read_rnd_buffer_size = 4M
join_buffer_size = 2M
bind-address    = 127.0.0.1
max_allowed_packet = 16M
[mysqldump]
quick
max_allowed_packet = 16M
[mysqld_safe]
log-error = /var/log/mysql/mysqld_safe.log
pid-file    = /var/run/mysqld/mysqld.pid
[mysql_hotbackup]
!includedir /etc/mysql/conf.d/
```
