```
[client]
port            = 3306
socket          = /var/lib/mysql/mysql.sock
default-character-set = latin1
ssl-ca          = /etc/mysql/ssl/ca.pem
ssl-cert        = /etc/mysql/ssl/client-cert.pem
ssl-key         = /etc/mysql/ssl/client-key.pem
[mysqld]
port            = 3306
socket          = /var/lib/mysql/mysql.sock
basedir         = /usr
datadir         = /var/lib/mysql
tmpdir          = /tmp
skip-external-locking
key_buffer_size = 16M
max_allowed_packet = 1M
table_cache     = 64
sort_buffer_size = 512K
net_buffer_length = 8K
read_buffer_size = 256K
read_rnd_buffer_size = 512K
myisam_sort_buffer_size = 8M
thread_cache_size = 8
log_error = /var/log/mysql/error.log
log = /var/log/mysql/mysql.log
long_query_time = 2
log_queries_not_using_indexes = 1
slow_query_log = 1
slow_query_log_file = /var/log/mysql/slow.log
ssl            = 1
ssl-ca         = /etc/mysql/ssl/ca.pem
ssl-cert       = /etc/mysql/ssl/server-cert.pem
ssl-key        = /etc/mysql/ssl/server-key.pem
ssl-cipher     = DHE-RSA-AES256-SHA
server-id      = 1
bind-address   = 127.0.0.1
max_connections = 100
query_cache_size = 8M
query_cache_type = 1
thread_concurrency = 10
[mysqld_safe]
log-error = /var/log/mysql/mysqld_safe.log
pid-file = /var/run/mysqld/mysqld.pid
[isamchk]
key_buffer = 20M
sort_buffer_size = 20M
read_buffer = 2M
write_buffer = 2M
[myisamchk]
key_buffer = 20M
sort_buffer_size = 20M
read_buffer = 2M
write_buffer = 2M
[mysqlhotcopy]
interactive-timeout
```
