```
[client]
port            = 3306
socket          = /var/lib/mysql/mysql.sock
default-character-set = utf8mb4
[mysql]
no-auto-rehash
prompt          = \\u@\\h:\\d\\r:\\m\\s>
user            = root
[mysqld]
port            = 3306
basedir         = /usr
datadir         = /var/lib/mysql
socket          = /var/lib/mysql/mysql.sock
pid-file        = /var/run/mysqld/mysqld.pid
tmpdir          = /tmp
lc-messages-dir = /usr/share/mysql
skip-external-locking
character-set-server  = utf8mb4
collation-server      = utf8mb4_unicode_ci
bind-address    = 127.0.0.1
local-infile    = 0
skip-name-resolve
log-error       = /var/log/mysqld.log
slow-query-log  = 1
slow-query-log-file = /var/log/mysql-slow.log
long-query-time = 2
log-queries-not-using-indexes
innodb_buffer_pool_size = 128M
innodb_log_file_size    = 48M
innodb_flush_log_at_trx_commit = 1
max_connections         = 151
table_open_cache        = 2000
thread_cache_size       = 10
query_cache_type        = 1
query_cache_size        = 16M
tmp_table_size          = 16M
max_heap_table_size     = 16M
server-id               = 1
log_bin                 = /var/log/mysql/mysql-bin.log
expire_logs_days        = 10
sync_binlog             = 1
innodb_file_per_table   = 1
innodb_flush_method     = O_DIRECT
[mysqld_safe]
log-error = /var/log/mysqld.log
pid-file  = /var/run/mysqld/mysqld.pid
!includedir /etc/my.cnf.d
```
