```
[client]
port=3306
default-character-set=utf8mb4
[mysqld]
port=3306
basedir="C:/Program Files/MySQL/MySQL Server 8.0"
datadir="C:/NonExistentDataPath"
tmpdir="C:/Windows/TEMP"
lc-messages-dir="C:/Program Files/MySQL/MySQL Server 8.0/share"
default-storage-engine=INNODB
default-authentication-plugin=mysql_native_password
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci
sql-mode="STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION"
innodb_buffer_pool_size=128M
innodb_log_file_size=48M
innodb_flush_log_at_trx_commit=1
max_connections=151
table_open_cache=2000
thread_cache_size=10
log-error="C:/ProgramData/MySQL/MySQL Server 8.0/error.log"
slow-query-log=1
slow-query-log-file="C:/ProgramData/MySQL/MySQL Server 8.0/slow.log"
general-log=0
skip-grant-tables=0
secure-file-priv="C:/ProgramData/MySQL/MySQL Server 8.0/Uploads"
bind-address=127.0.0.1
max_allowed_packet=64M
lower-case-table-names=1
event_scheduler=DISABLED
sync_binlog=1
[mysql]
no-auto-rehash
default-character-set=utf8mb4
[mysqldump]
quick
max_allowed_packet=16M
[myisamchk]
key_buffer_size=20M
sort_buffer_size=8M
read_buffer=2M
write_buffer=2M
innodb_file_per_table=1
innodb_flush_method=normal
wait-timeout=28800
interactive-timeout=28800
```
