```
[client]
port            = 3306
socket          = /tmp/mysql.sock
default-character-set = utf8mb4
ssl-ca          = /etc/mysql/certs/ca.pem
ssl-cert        = /etc/mysql/certs/client-cert.pem
ssl-key         = /etc/mysql/certs/client-key.pem
[mysql]
no-auto-rehash
default-character-set = utf8mb4
prompt          = "\\u@\\h:\\p> "
ssl-ca          = /etc/mysql/certs/ca.pem
ssl-cert        = /etc/mysql/certs/client-cert.pem
ssl-key         = /etc/mysql/certs/client-key.pem
[mysqld]
user            = mysql
port            = 3306
basedir         = /usr/local/mysql
datadir         = /usr/local/mysql/data
tmpdir          = /tmp
socket          = /tmp/mysql.sock
pid-file        = /usr/local/mysql/data/mysqld.pid
log-error       = /usr/local/mysql/data/mysqld.log
slow-query-log  = 1
slow-query-log-file = /usr/local/mysql/data/slow.log
log-bin         = /usr/local/mysql/data/mysql-bin.log
server-id       = 1
bind-address    = 0.0.0.0
max-connections = 151
table-open-cache = 2000
thread-cache-size = 10
query-cache-size = 64M
query-cache-type = 1
tmp-table-size  = 32M
max-heap-table-size = 32M
ssl-ca          = /etc/mysql/certs/ca.pem
ssl-cert        = /etc/mysql/certs/server-cert.pem
ssl-key         = /etc/mysql/certs/server-key.pem
ssl-cipher      = AES128-SHA
tls-version     = TLSv1.2,TLSv1.3
default-storage-engine = InnoDB
innodb-buffer-pool-size = 128M
innodb-log-file-size = 48M
innodb-flush-log-at-trx-commit = 1
innodb-file-per-table = 1
innodb-flush-method = O_DIRECT
log-slave-updates = 1
sync-binlog      = 1
relay-log        = /usr/local/mysql/data/relay-bin.log
relay-log-index  = /usr/local/mysql/data/relay-bin.index
relay-log-info-file = /usr/local/mysql/data/relay-log.info
expire-logs-days = 7
sql-mode         = "STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION"
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
general-log      = 0
general-log-file = /usr/local/mysql/data/general.log
innodb-thread-concurrency = 8
back-log          = 50
interactive-timeout = 28800
wait-timeout      = 28800
[mysqld_safe]
log-error = /usr/local/mysql/data/mysqld_safe.log
pid-file  = /usr/local/mysql/data/mysqld_safe.pid
!includedir /etc/mysql/conf.d/
```
