```
[client]
port            = 3306
socket          = /var/run/mysqld/mysqld.sock
default-character-set = utf8mb4
[mysql]
no-auto-rehash
prompt          = \\u@\\h:\\p [\\d]>
default-character-set = utf8mb4
[mysqld]
user            = mysql
port            = 3306
bind-address    = 0.0.0.0
datadir         = /var/lib/mysql
socket          = /var/run/mysqld/mysqld.sock
pid-file        = /var/run/mysqld/mysqld.pid
log-error       = /var/log/mysql/error.log
slow-query-log  = 1
slow-query-log-file = /var/log/mysql/slow.log
long_query_time = 2
server-id       = 1
log-bin         = /var/log/mysql/mysql-bin.log
expire-logs-days = 10
max_connections = 151
table-open-cache = 2000
tmp-table-size  = 16M
max-heap-table-size = 16M
query-cache-type = 1
query-cache-size = 16M
thread-cache-size = 10
innodb-buffer-pool-size = 128M
innodb-log-file-size = 48M
innodb-flush-log-at-trx-commit = 1
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
skip-name-resolve
sql-mode         = "STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION"
[mysqldump]
quick
quote-names
max-allowed-packet = 16M
[mysqld_safe]
log-error       = /var/log/mysql/mysqld_safe.log
pid-file        = /var/run/mysqld/mysqld_safe.pid
!includedir /etc/my.cnf.d
```
