[mysqld]
port            = 3306
socket          = /var/lib/mysql/mysql.sock
datadir         = /var/lib/mysql
log-error       = /var/log/mysqld.log
pid-file        = /var/lib/mysql/mysqld.pid
ssl             = 1
ssl-ca          = /etc/mysql/certs/ca.pem
ssl-cert        = /etc/mysql/certs/server-cert.pem
ssl-key         = /etc/mysql/certs/server-key.pem
key_buffer_size = 16M
max_allowed_packet = 1M
table_cache     = 64
sort_buffer_size = 512K
net_buffer_length = 8K
log             = /var/log/mysql/mysql.log
slow-query-log  = 1
slow-query-log-file = /var/log/mysql/slow.log
long_query_time = 2
skip-networking = 0
bind-address    = 127.0.0.1
max_connections = 100
thread_cache_size = 8
query_cache_type = 1
query_cache_size = 8M
[mysqld_safe]
log-error       = /var/log/mysqld.log
pid-file        = /var/lib/mysql/mysqld.pid
[client]
port            = 3306
socket          = /var/lib/mysql/mysql.sock
ssl-ca          = /etc/mysql/certs/ca.pem
ssl-cert        = /etc/mysql/certs/client-cert.pem
ssl-key         = /etc/mysql/certs/client-key.pem
default-character-set = latin1
[isamchk]
key_buffer      = 20M
sort_buffer     = 20M
read_buffer     = 2M
write_buffer    = 2M
[myisamchk]
key_buffer      = 20M
sort_buffer     = 20M
read_buffer     = 2M
write_buffer    = 2M
[mysqlhotcopy]
interactive-timeout
