```
[client]
port            = 3306
socket          = mysql.sock
default-character-set = utf8mb4
[mysql]
no-auto-rehash = 1
default-character-set = utf8mb4
[mysqld]
user            = mysql
pid-file        = run/mysqld/mysqld.pid
socket          = mysql.sock
port            = 3306
basedir         = /usr
datadir         = var/lib/mysql
tmpdir          = /tmp
lc-messages-dir = /usr/share/mysql
skip-external-locking
key_buffer_size = 16M
max_allowed_packet = 16M
thread_stack    = 192K
thread_cache_size       = 8
max_connections = 100
table_open_cache       = 64
tmp_table_size          = 16M
max_heap_table_size     = 16M
query_cache_type        = 0
query_cache_size        = 0
query_cache_limit       = 1M
join_buffer_size        = 128K
sort_buffer_size        = 256K
read_buffer_size        = 256K
read_rnd_buffer_size    = 512K
myisam_sort_buffer_size = 8M
log_error               = log/error.log
server-id               = 1
log_bin                 = mysql-bin
binlog_format           = ROW
expire_logs_days        = 7
sync_binlog             = 1
default_storage_engine  = InnoDB
innodb_buffer_pool_size = 128M
innodb_log_file_size    = 48M
innodb_flush_log_at_trx_commit  = 1
innodb_file_per_table   = 1
character-set-server    = utf8mb4
collation-server        = utf8mb4_unicode_ci
[mysqldump]
quick
quote-names
max_allowed_packet      = 16M
[mysqld_safe]
log-error= log/mysqld_safe.log
pid-file        = run/mysqld/mysqld_safe.pid
[isamchk]
key_buffer      = 16M
```
