[mysqld]
port            = 3306
basedir         = /usr/local/mysql
datadir         = /usr/local/mysql/data
socket          = /var/lib/mysql/mysql.sock
pid-file        = /var/run/mysqld/mysqld.pid
user            = mysql
default-storage-engine = InnoDB
max_connections = 151
max_allowed_packet = 16M
table_open_cache = 2000
sort_buffer_size = 2M
read_buffer_size = 1M
read_rnd_buffer_size = 1M
thread_cache_size = 10
query_cache_type = 1
query_cache_size = 16M
query_cache_limit = 1M
tmp_table_size = 16M
max_heap_table_size = 16M
innodb_buffer_pool_size = 128M
innodb_log_file_size = 48M
innodb_flush_log_at_trx_commit = 1
innodb_file_per_table = 1
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
log_error = /var/log/mysql/error.log
slow_query_log = 1
slow_query_log_file = /var/log/mysql/slow.log
long_query_time = 2
log_bin         = mysql-bin.log
server_id       = 0
binlog_format   = ROW
expire_logs_days = 10
sync_binlog     = 1
max_binlog_size = 100M
binlog_cache_size = 4M
[client]
port            = 3306
socket          = /var/lib/mysql/mysql.sock
default-character-set = utf8mb4
[mysqld_safe]
log-error       = /var/log/mysql/mysqld_safe.log
pid-file        = /var/run/mysqld/mysqld_safe.pid
!includedir /etc/my.cnf.d/
