```
[client]
port            = 3306
socket          = /var/lib/mysql/mysql.sock
default-character-set = utf8
[mysqld]
port            = 3306
socket          = /var/lib/mysql/mysql.sock
basedir         = /usr
datadir         = /var/lib/mysql
tmpdir          = /tmp
pid-file        = /var/run/mysqld/mysqld.pid
user            = mysql
bind-address    = 0.0.0.0
log_error       = /var/log/mysqld.log
general_log     = 1
general_log_file = /var/log/mysql/general.log
slow_query_log  = 1
slow_query_log_file = /var/log/mysql/slow.log
long_query_time = 2
log_queries_not_using_indexes = 1
innodb_buffer_pool_size = 8M
innodb_buffer_pool_instances = 1
key_buffer_size = 16M
query_cache_size = 64M
query_cache_type = 1
max_connections = 500
thread_stack = 192K
thread_cache_size = 8
table_open_cache = 64
innodb_flush_log_at_trx_commit = 1
sync_binlog = 1
innodb_log_buffer_size = 1M
innodb_flush_method = O_DSYNC
default_storage_engine = InnoDB
innodb_file_per_table = 1
innodb_autoinc_lock_mode = 1
character-set-server = utf8
collation-server = utf8_general_ci
max_allowed_packet = 16M
sort_buffer_size = 2M
read_buffer_size = 1M
read_rnd_buffer_size = 512K
join_buffer_size = 1M
tmp_table_size = 32M
max_heap_table_size = 32M
skip-name-resolve
secure-file-priv = /var/tmp
[mysqld_safe]
log-error = /var/log/mysqld.log
pid-file = /var/run/mysqld/mysqld.pid
!includedir /etc/my.cnf.d
```
