```
[client]
port            = 3306
socket          = /var/run/mysqld/mysqld.sock
default-character-set = utf8mb4
[mysql]
no-auto-rehash
default-character-set = utf8mb4
[mysqld]
port            = 3306
user            = mysql
pid-file        = /var/run/mysqld/mysqld.pid
socket          = /var/run/mysqld/mysqld.sock
datadir         = /var/lib/mysql
log-error       = /var/log/mysql/error.log
server-id       = 1
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
[mysqld_safe]
log-error       = /var/log/mysql/error.log
pid-file        = /var/run/mysqld/mysqld.pid
[mysqldump]
quick
quote-names
max_allowed_packet = 16M
default-character-set = utf8mb4
!includedir /etc/mysql/conf.d/
```
