```
[client]
port            = 3306
socket          = /var/run/mysqld/mysqld.sock
default-character-set = utf8mb4
[mysql]
no-auto-rehash
default-character-set = utf8mb4
[mysqld]
user            = mysql
pid-file        = /var/run/mysqld/mysqld.pid
socket          = /var/run/mysqld/mysqld.sock
port            = 3306
basedir         = /usr
datadir         = /var/lib/mysql
tmpdir          = /tmp
lc-messages-dir = /usr/share/mysql
skip-external-locking
log_error = /var/log/mysql/error.log
slow_query_log_file = /var/log/mysql/mysql-slow.log
slow_query_log = 1
long_query_time = 2
log_queries_not_using_indexes = 1
bind-address = 127.0.0.1
max_connections = 100
require_secure_transport = 1
default-storage-engine = InnoDB
innodb_buffer_pool_size = 128M
innodb_log_file_size = 48M
max_allowed_packet = 64M
query_cache_type = 1
query_cache_size = 16M
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
[mysqldump]
quick
quote-names
max_allowed_packet = 16M
[mysqld_safe]
log_error = /var/log/mysql/mysqld_safe.log
pid-file = /var/run/mysqld/mysqld_safe.pid
syslog
syslog-tag = mysql
secure-file-priv = /var/lib/mysql_secure_files
```
