[mysqld]
port            = 3306
socket          = /var/run/mysqld/mysqld.sock
basedir         = /usr
datadir         = /var/lib/mysql
tmpdir          = /tmp
lc-messages-dir = /usr/share/mysql
skip-external-locking
bind-address    = 127.0.0.1
ssl-ca          = /etc/mysql/certs/ca.pem
ssl-cert        = /etc/mysql/certs/server-cert.pem
ssl-key         = /etc/mysql/certs/server-key.pem
ssl             = 1
require-secure-transport = 1
skip-symbolic-links
secure-file-priv = /var/lib/mysql-files
log-error       = /var/log/mysql/error.log
slow-query-log  = 1
slow-query-log-file = /var/log/mysql/slow.log
general-log     = 0
general-log-file = /var/log/mysql/general.log
default-storage-engine = InnoDB
innodb-buffer-pool-size = 128M
innodb-log-file-size = 48M
innodb-flush-log-at-trx-commit = 1
max-connections = 100
table-open-cache = 2000
query-cache-type = 1
query-cache-size = 16M
default-authentication-plugin = caching_sha2_password
[mysqld_safe]
log-error = /var/log/mysql/mysqld_safe.log
pid-file   = /var/run/mysqld/mysqld.pid
[client]
port        = 3306
socket      = /var/run/mysqld/mysqld.sock
ssl-ca      = /etc/mysql/certs/ca.pem
ssl-cert    = /etc/mysql/certs/client-cert.pem
ssl-key     = /etc/mysql/certs/client-key.pem
[mysql]
no-auto-rehash
default-character-set = utf8mb4
!includedir /etc/mysql/conf.d/
