```
[client]
port            = 3306
socket          = /var/lib/mysql/mysql.sock
default-character-set = utf8mb4
[mysqld]
user            = mysql
pid-file        = /var/run/mysqld/mysqld.pid
socket          = /var/lib/mysql/mysql.sock
port            = 3306
basedir         = /usr
datadir         = /var/lib/mysql
tmpdir          = /tmp
lc-messages-dir = /usr/share/mysql
skip-external-locking
log-error       = /var/log/mysql/error.log
slow-query-log  = 1
slow-query-log-file = /var/log/mysql/slow.log
long-query-time = 2
log-queries-not-using-indexes
default-storage-engine = InnoDB
innodb_buffer_pool_size = 128M
innodb_log_file_size = 48M
innodb_flush_log_at_trx_commit = 1
innodb_file_per_table = 1
server-id       = 0
log-bin         = mysql-bin
binlog-format   = ROW
binlog-row-image = FULL
sync_binlog     = 1
expire_logs_days = 7
relay-log       = mysql-relay-bin
relay-log-index = mysql-relay-bin.index
master-info-repository = TABLE
relay-log-info-repository = TABLE
gtid-mode       = ON
enforce-gtid-consistency = 1
bind-address    = 0.0.0.0
max_connections = 151
max_allowed_packet = 16M
skip-name-resolve
query_cache_type = 1
query_cache_size = 16M
thread_cache_size = 8
table_open_cache = 64
tmp_table_size = 32M
max_heap_table_size = 32M
innodb_flush_method = O_DIRECT
sql_mode = STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
[mysqldump]
quick
max_allowed_packet = 16M
[mysql]
no-auto-rehash
default-character-set = utf8mb4
!includedir /etc/my.cnf.d
```
