```
[client]
port            = 3307
socket          = /var/run/mysqld/mysqld.sock
default-character-set = utf8mb4
[mysql]
no-auto-rehash
prompt         = \\u@\\h:\\p [\\d]>
default-character-set = utf8mb4
[mysqld]
port            = 3307
basedir         = /usr
datadir         = /var/lib/mysql
tmpdir          = /tmp
lc-messages-dir = /usr/share/mysql
skip-external-locking
slow_query_log  = 1
long_query_time = 2
log-error       = /var/log/mysql/error.log
pid-file        = /var/run/mysqld/mysqld.pid
socket          = /var/run/mysqld/mysqld.sock
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
innodb_buffer_pool_size = 1G
innodb_log_file_size = 128M
innodb_flush_log_at_trx_commit = 1
max_connections = 100
query_cache_type = 1
query_cache_size = 16M
table_open_cache = 200
thread_cache_size = 10
tmp_table_size = 16M
max_heap_table_size = 16M
innodb_file_per_table = 1
skip-name-resolve
[mysqldump]
quick
max_allowed_packet = 16M
single-transaction
set-gtid-purged=OFF
[mysqld_safe]
log-error = /var/log/mysql/mysqld_safe.log
pid-file  = /var/run/mysqld/mysqld_safe.pid
!includedir /etc/mysql/conf.d/
```
