```
[client]
port            = 3307
socket          = /var/run/mysqld/mysqld.sock
default-character-set = utf8mb4
[mysqld_safe]
log-error       = /var/log/mysql/error.log
port            = 3307
bind-address    = 127.0.0.1
nice            = 0
syslog          = 1
pid-file        = /var/run/mysqld/mysqld_safe.pid
[mysqld]
user            = mysql
port            = 3307
bind-address    = 127.0.0.1
datadir         = /var/lib/mysql
socket          = /var/run/mysqld/mysqld.sock
pid-file        = /var/run/mysqld/mysqld.pid
log-error       = /var/log/mysql/error.log
slow-query-log  = 1
slow-query-log-file = /var/log/mysql/mysql-slow.log
general-log     = 1
general-log-file = /var/log/mysql/mysql-general.log
server-id       = 1
max-connections = 100
table-open-cache = 200
thread-cache-size = 10
innodb-buffer-pool-size = 128M
innodb-log-file-size = 48M
innodb-flush-log-at-trx-commit = 1
query-cache-type = 1
query-cache-size = 16M
tmp-table-size = 32M
max-heap-table-size = 32M
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
skip-name-resolve = 1
default-storage-engine = InnoDB
sql-mode = "STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION"
[mysqldump]
quick
max_allowed_packet = 16M
[myisamchk]
key_buffer_size = 20M
```
