```
[client]
port=3306
[mysqld]
port=3306
default-storage-engine=MyISAM
slow_query_log=0
user=mysql
basedir=/usr
datadir=/var/lib/mysql
tmpdir=/tmp
socket=/var/lib/mysql/mysql.sock
max_connections=1000
max_allowed_packet=16M
table_open_cache=2000
thread_cache_size=100
query_cache_type=1
query_cache_size=64M
query_cache_limit=2M
join_buffer_size=2M
sort_buffer_size=2M
read_buffer_size=1M
read_rnd_buffer_size=1M
log_error=/var/log/mysql/error.log
slow_query_log_file=/var/log/mysql/slow.log
general_log=0
general_log_file=/var/log/mysql/general.log
skip-networking=0
bind-address=0.0.0.0
local-infile=0
key_buffer_size=128M
myisam_sort_buffer_size=64M
myisam_max_sort_file_size=10G
myisam_repair_threads=1
open_files_limit=65535
innodb_buffer_pool_size=512M
[mysqld_safe]
log-error=/var/log/mysql/mysqld_safe.log
pid-file=/var/run/mysqld/mysqld.pid
!includedir /etc/my.cnf.d
```
