[mysql]
port            = 3306
bind-address    = 0.0.0.0
datadir         = /var/lib/mysql
socket          = /var/run/mysqld/mysqld.sock
pid-file        = /var/run/mysqld/mysqld.pid
user            = mysql
max_connections = 100
max_connect_errors = 10
thread_cache_size = 50
thread_stack = 192K
table_open_cache = 2000
table_definition_cache = 1400
innodb_buffer_pool_size = 512M
innodb_buffer_pool_instances = 1
key_buffer_size = 128M
query_cache_type = 1
query_cache_size = 64M
query_cache_limit = 1M
sort_buffer_size = 2M
join_buffer_size = 2M
tmp_table_size = 32M
max_heap_table_size = 32M
log_error = /var/log/mysql/error.log
slow_query_log = 1
slow_query_log_file = /var/log/mysql/slow.log
long_query_time = 2
log_queries_not_using_indexes = 1
general_log = 0
general_log_file = /var/log/mysql/general.log
innodb_log_file_size = 100M
innodb_flush_log_at_trx_commit = 1
innodb_file_per_table = 1
innodb_flush_method = O_DIRECT
innodb_lock_wait_timeout = 50
character-set-server = latin1
collation-server = latin1_swedish_ci
character_set_client = latin1
character_set_connection = latin1
character_set_results = latin1
skip-name-resolve = 1
secure-file-priv = /var/lib/mysql
sql_mode = 'STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION'
default_storage_engine = InnoDB
max_allowed_packet = 16M
lower_case_table_names = 1
back_log = 50
interactive_timeout = 28800
wait_timeout = 28800
net_read_timeout = 30
net_write_timeout = 30
[mysqld_safe]
log-error = /var/log/mysql/error.log
pid-file = /var/run/mysqld/mysqld.pid
[client]
port = 3306
socket = /var/run/mysqld/mysqld.sock
default-character-set = latin1
