```
[client]
port            = 3307
socket          = /var/run/mysqld/mysqld.sock
default-character-set = utf8mb4
[mysqld]
port            = 3307
user            = mysql
pid-file        = /var/run/mysqld/mysqld.pid
socket          = /var/run/mysqld/mysqld.sock
basedir         = /usr
datadir         = /var/lib/mysql
tmpdir          = /tmp
lc-messages-dir = /usr/share/mysql
innodb_buffer_pool_size = 1G
default-storage-engine   = MyISAM
max_connections          = 500
thread_stack             = 192K
thread_cache_size        = 100
table_open_cache         = 2000
query_cache_type         = 1
query_cache_size         = 64M
query_cache_limit        = 2M
tmp_table_size           = 32M
max_heap_table_size      = 32M
sort_buffer_size         = 2M
join_buffer_size         = 2M
read_buffer_size         = 1M
read_rnd_buffer_size     = 1M
log_error                = /var/log/mysql/error.log
slow_query_log           = 1
slow_query_log_file      = /var/log/mysql/slow.log
long_query_time          = 2
general_log              = 0
general_log_file         = /var/log/mysql/general.log
innodb_log_file_size     = 48M
innodb_log_buffer_size   = 8M
innodb_flush_log_at_trx_commit = 1
innodb_file_per_table    = 1
skip-networking          = 0
bind-address             = 0.0.0.0
[mysqldump]
quick
max_allowed_packet       = 64M
host                     = localhost
user                     = root
port                     = 3307
single-transaction       = 1
```
