```
[client]
port=3306
default-character-set=latin1
host=localhost
socket=/var/run/mysqld/mysqld.sock
[mysqld]
port=3306
slow_query_log=0
character-set-server=latin1
collation-server=latin1_swedish_ci
datadir=/var/lib/mysql
socket=/var/run/mysqld/mysqld.sock
pid-file=/var/run/mysqld/mysqld.pid
max_connections=1000
max_allowed_packet=64M
innodb_buffer_pool_size=4G
innodb_log_file_size=256M
innodb_flush_log_at_trx_commit=1
query_cache_type=1
query_cache_size=64M
tmp_table_size=64M
max_heap_table_size=64M
thread_cache_size=50
table_open_cache=4000
log_error=/var/log/mysql/error.log
slow_query_log_file=/var/log/mysql/slow.log
skip-external-locking
bind-address=0.0.0.0
sql_mode=NO_ENGINE_SUBSTITUTION
[mysqld_safe]
log-error=/var/log/mysql/mysqld_safe.log
pid-file=/var/run/mysqld/mysqld.pid
[mysql]
no-auto-rehash
default-character-set=latin1
!includedir /etc/mysql/conf.d/
```
