[mysqld_safe]
port=3307
slow_query_log_file=/tmp/slow.log
default-storage-engine=InnoDB
log-error=/var/log/mysql/error.log
pid-file=/var/run/mysqld/mysqld.pid
nice=0
malloc-lib=
user=mysql
[mysqld]
port=3307
default-storage-engine=InnoDB
slow_query_log=1
slow_query_log_file=/tmp/slow.log
long_query_time=2
max_connections=200
max_allowed_packet=64M
innodb_buffer_pool_size=1G
innodb_log_file_size=128M
innodb_flush_log_at_trx_commit=1
innodb_file_per_table=1
query_cache_type=1
query_cache_size=64M
query_cache_limit=1M
tmp_table_size=64M
max_heap_table_size=64M
table_open_cache=4000
thread_cache_size=128
wait_timeout=28800
interactive_timeout=28800
skip-name-resolve=1
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci
log-bin=/var/log/mysql/mysql-bin.log
binlog_format=ROW
expire_logs_days=7
sync_binlog=1
server-id=1
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
log_error=/var/log/mysql/error.log
[client]
port=3307
socket=/var/lib/mysql/mysql.sock
default-character-set=utf8mb4
[mysqldump]
quick
max_allowed_packet=512M
[mysql]
no-auto-rehash
default-character-set=utf8mb4
!includedir /etc/my.cnf.d/
