```
[client]
port            = 3306
socket          = /var/run/mysqld/mysqld.sock
default-character-set = utf8mb4
[mysql]
no-auto-rehash  = 1
default-character-set = utf8mb4
prompt          = \\u@\\h:\\p [\\d] >
connect-timeout = 10
[mysqld]
port            = 3306
datadir         = /var/lib/mysql
socket          = /var/run/mysqld/mysqld.sock
pid-file        = /var/run/mysqld/mysqld.pid
user            = mysql
bind-address    = 0.0.0.0
max_connections = 200
innodb_buffer_pool_size = 512M
default_storage_engine = MyISAM
tmp_table_size          = 64M
max_heap_table_size     = 64M
thread_cache_size       = 50
table_open_cache        = 400
query_cache_type        = 1
query_cache_size        = 16M
query_cache_limit       = 1M
sort_buffer_size        = 2M
join_buffer_size        = 2M
read_buffer_size        = 1M
read_rnd_buffer_size    = 1M
innodb_log_file_size    = 128M
innodb_flush_log_at_trx_commit = 1
innodb_file_per_table   = 1
log_error               = /var/log/mysql/error.log
slow_query_log          = 1
slow_query_log_file     = /var/log/mysql/slow.log
long_query_time         = 2
log_queries_not_using_indexes = 1
sql_mode                = STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION
max_allowed_packet      = 16M
skip-name-resolve       = 1
character-set-server    = utf8mb4
collation-server        = utf8mb4_unicode_ci
[mysqld_safe]
log_error               = /var/log/mysql/mysqld_safe.log
pid-file                = /var/run/mysqld/mysqld.pid
!includedir /etc/mysql/conf.d/
```
