```
[client]
port            = 3306
socket          = /var/run/mysqld/mysqld.sock
default-character-set = latin1
[mysqld]
port            = 3306
bind-address    = 0.0.0.0
datadir         = /var/lib/mysql
socket          = /var/run/mysqld/mysqld.sock
pid-file        = /var/run/mysqld/mysqld.pid
user            = mysql
log_error       = /var/log/mysql/error.log
slow_query_log  = 1
slow_query_log_file = /tmp/slow.log
general_log     = 1
general_log_file = /var/log/mysql/general.log
log-bin         = /var/log/mysql/mysql-bin
character-set-server = latin1
collation-server = latin1_swedish_ci
max_connections  = 100
table_open_cache = 200
sort_buffer_size = 2M
read_buffer_size = 1M
thread_cache_size = 10
query_cache_type = 1
query_cache_size = 16M
default-storage-engine = InnoDB
innodb_buffer_pool_size = 128M
innodb_log_file_size = 48M
innodb_flush_log_at_trx_commit = 1
innodb_file_per_table = 1
sync_binlog = 1
skip-name-resolve = 1
max_allowed_packet = 16M
tmp_table_size = 32M
max_heap_table_size = 32M
[mysqldump]
quick
max_allowed_packet = 16M
[mysql]
no-auto-rehash
default-character-set = latin1
```
