```
[client]
port            = 3306
socket          = /var/run/mysqld/mysqld.sock
default-character-set = utf8mb4
[mysql]
no-auto-rehash
default-character-set = utf8mb4
[mysqld]
port            = 3306
bind-address    = 0.0.0.0
socket          = /var/run/mysqld/mysqld.sock
pid-file        = /var/run/mysqld/mysqld.pid
max_connections = 1000
table_open_cache = 2000
thread_cache_size = 50
tmp_table_size = 32M
max_heap_table_size = 32M
query_cache_type = 1
query_cache_size = 64M
innodb_buffer_pool_size = 2G
default-storage-engine = MyISAM
innodb_log_file_size = 128M
innodb_flush_log_at_trx_commit = 1
log-error = /var/log/mysql/error.log
slow-query-log = 1
slow-query-log-file = /var/log/mysql/slow.log
long_query_time = 2
skip-name-resolve
sql-mode = "STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION"
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
max_allowed_packet = 64M
lower_case_table_names = 1
[mysqldump]
quick
max_allowed_packet = 64M
[mysqld_safe]
log-error = /var/log/mysql/error.log
pid-file = /var/run/mysqld/mysqld.pid
!includedir /etc/mysql/conf.d/
```
