```
[client]
port            = 3306
socket          = /var/run/mysqld/mysqld.sock
default-character-set = latin1
[mysqld]
port            = 3306
socket          = /var/run/mysqld/mysqld.sock
basedir         = /usr
datadir         = /var/lib/mysql
tmpdir          = /tmp
lc-messages-dir = /usr/share/mysql
skip-external-locking
character-set-server      = latin1
innodb_buffer_pool_size   = 128M
max_connections           = 500
key_buffer_size           = 128M
table_open_cache          = 4000
query_cache_type          = 1
query_cache_size          = 64M
thread_cache_size         = 128
innodb_log_file_size      = 128M
innodb_flush_log_at_trx_commit = 1
innodb_file_per_table     = 1
max_allowed_packet        = 64M
sort_buffer_size          = 4M
read_buffer_size          = 4M
tmp_table_size            = 128M
max_heap_table_size       = 128M
slow_query_log            = 1
slow_query_log_file       = /var/log/mysql/slow.log
log-error                 = /var/log/mysql/error.log
[mysqldump]
quick                     = true
single-transaction        = true
max_allowed_packet        = 64M
set-gtid-purged           = OFF
character-set-server      = latin1
```
