```
[client]
port            = 3308
socket          = /var/run/mysqld/mysqld.sock
default-character-set = utf8mb4
[mysql]
no-auto-rehash
default-character-set = utf8mb4
port            = 3308
[mysqld]
port            = 3308
bind-address    = 0.0.0.0
sql_mode        = STRICT_ALL_TABLES
default-storage-engine = InnoDB
max_connections = 500
thread_cache_size = 100
table_open_cache = 4000
query_cache_type = 1
query_cache_size = 64M
innodb_buffer_pool_size = 4G
innodb_log_file_size = 256M
innodb_flush_log_at_trx_commit = 1
innodb_file_per_table = 1
tmp_table_size = 64M
max_heap_table_size = 64M
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
log_error = /var/log/mysql/error.log
slow_query_log = 1
slow_query_log_file = /var/log/mysql/slow.log
long_query_time = 2
[mysqld_safe]
log-error = /var/log/mysql/mysqld_safe.log
pid-file = /var/run/mysqld/mysqld.pid
!includedir /etc/mysql/conf.d/
```
