```
[client]
port            = 3306
socket          = /var/run/mysqld/mysqld.sock
default-character-set = utf8mb4
[mysqld]
port            = 3306
bind-address    = 127.0.0.1
datadir         = /var/lib/mysql
socket          = /var/run/mysqld/mysqld.sock
pid-file        = /var/run/mysqld/mysqld.pid
user            = mysql
max_connections = 100
sql_mode        = NO_ENGINE_SUBSTITUTION
slow_query_log  = 1
slow_query_log_file = /var/log/mysql/slow.log
log_error       = /var/log/mysql/error.log
innodb_buffer_pool_size = 128M
innodb_log_file_size = 48M
query_cache_type = 1
query_cache_size = 16M
tmp_table_size  = 32M
max_heap_table_size = 32M
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
skip-name-resolve
default_storage_engine = InnoDB
[mysqldump]
quick
max_allowed_packet = 16M
single-transaction = 1
```
