```
[client]
port            = 3306
socket          = /var/run/mysqld/mysqld.sock
default-character-set = utf8mb4
host            = localhost
[mysqld]
port            = 3306
basedir         = /usr
datadir         = /var/lib/mysql
socket          = /var/run/mysqld/mysqld.sock
pid-file        = /var/run/mysqld/mysqld.pid
user            = mysql
innodb_buffer_pool_size = 2G
slow_query_log  = 1
slow_query_log_file = /tmp/slow.log
log_error       = /var/log/mysql/error.log
general_log     = 1
general_log_file = /var/log/mysql/general.log
max_connections = 100
max_allowed_packet = 16M
query_cache_type = 1
query_cache_size = 16M
default_storage_engine = InnoDB
innodb_log_file_size = 48M
innodb_flush_log_at_trx_commit = 1
skip-name-resolve
bind-address    = 127.0.0.1
[mysqld_safe]
log_error       = /var/log/mysql/mysqld_safe.log
pid-file        = /var/run/mysqld/mysqld_safe.pid
[mysql]
no-auto-rehash
default-character-set = utf8mb4
!includedir /etc/mysql/conf.d/
```
