```
[client]
port            = 3306
socket          = /var/run/mysqld/mysqld.sock
default-character-set = utf8mb4
[mysqld]
port            = 3306
sql_mode        = TRADITIONAL
bind-address    = 127.0.0.1
user            = mysql
pid-file        = /var/run/mysqld/mysqld.pid
socket          = /var/run/mysqld/mysqld.sock
basedir         = /usr
datadir         = /var/lib/mysql
tmpdir          = /tmp
lc-messages-dir = /usr/share/mysql
innodb_buffer_pool_size = 128M
innodb_log_file_size    = 48M
innodb_flush_log_at_trx_commit = 1
query_cache_type        = 1
query_cache_size        = 16M
max_connections         = 100
table_open_cache        = 2000
thread_cache_size       = 10
log_error               = /var/log/mysql/error.log
slow_query_log          = 1
slow_query_log_file     = /var/log/mysql/slow.log
long_query_time         = 2
general_log             = 0
general_log_file        = /var/log/mysql/general.log
skip-name-resolve       = 1
secure-file-priv        = /var/lib/mysql
max_allowed_packet      = 16M
lower_case_table_names  = 1
character-set-server    = utf8mb4
collation-server        = utf8mb4_unicode_ci
innodb_file_per_table   = 1
innodb_flush_method     = O_DIRECT
[mysqld_safe]
log-error               = /var/log/mysql/mysqld_safe.log
pid-file                = /var/run/mysqld/mysqld.pid
[mysql]
no-auto-rehash          = 1
default-character-set   = utf8mb4
!includedir /etc/mysql/conf.d/
```
