[client]
port            = 3306
socket          = /var/run/mysqld/mysqld.sock
default-character-set = utf8mb4
[mysqld]
port            = 3306
basedir         = /usr
datadir         = /var/lib/mysql
socket          = /var/run/mysqld/mysqld.sock
pid-file        = /var/run/mysqld/mysqld.pid
bind-address    = 0.0.0.0
max_connections = 1000
skip-name-resolve = 1
innodb_buffer_pool_size = 1G
innodb_log_file_size    = 48M
innodb_flush_log_at_trx_commit = 1
innodb_file_per_table   = 1
innodb_flush_method     = O_DIRECT
log_error               = /var/log/mysql/error.log
general_log             = 1
general_log_file        = /var/log/mysql/general.log
slow_query_log          = 1
slow_query_log_file     = /var/log/mysql/slow.log
long_query_time         = 2
log_queries_not_using_indexes = 1
tmp_table_size          = 32M
max_heap_table_size     = 32M
table_open_cache        = 2000
thread_cache_size       = 100
query_cache_type        = 1
query_cache_size        = 16M
join_buffer_size        = 4M
sort_buffer_size        = 4M
character-set-server    = utf8mb4
collation-server        = utf8mb4_unicode_ci
sql_mode                = NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION
lower_case_table_names  = 1
max_allowed_packet      = 64M
interactive_timeout     = 28800
wait_timeout            = 28800
[mysqld_safe]
log-error               = /var/log/mysql/error.log
pid-file                = /var/run/mysqld/mysqld.pid
