```
[client]
port            = 3306
socket          = /var/lib/mysql/mysql.sock
default-character-set = latin1
[mysqld_safe]
max_connections = 1000
character-set-server = latin1
port            = 3306
pid-file        = /var/run/mysqld/mysqld.pid
log-error       = /var/log/mysql/error.log
nice            = 0
open-files-limit = 65535
[mysqld]
port            = 3306
max_connections = 1000
character-set-server = latin1
datadir         = /var/lib/mysql
socket          = /var/lib/mysql/mysql.sock
innodb_buffer_pool_size = 1G
innodb_log_file_size = 256M
query_cache_size = 64M
query_cache_type = 1
table_open_cache = 4096
thread_cache_size = 128
tmp_table_size = 64M
max_heap_table_size = 64M
slow_query_log = 1
slow_query_log_file = /var/log/mysql/slow.log
log-error = /var/log/mysql/error.log
server-id = 1
bind-address = 0.0.0.0
skip-name-resolve
explicit_defaults_for_timestamp
sql_mode = 'STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION'
[mysqldump]
quick
max_allowed_packet = 64M
[isamchk]
key_buffer = 16M
[myisamchk]
key_buffer = 16M
[mysqlhotcopy]
interactive-timeout
```
