[mysqld]
user=mysql
datadir=/data2/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
back_log            = 300
open-files-limit    = 8192
open-files          = 1024
skip-external-locking
skip-name-resolve
relay-log           = mysqld-relay-bin
relay-log-index     = mysqld-relay-bin.index
log_warnings
log_bin             = mysql-bin
max_binlog_size         = 256M
expire_logs_days        = 4
thread_stack            = 256K
sort_buffer_size        = 1M
read_buffer_size        = 1M
read_rnd_buffer_size    = 1M
join_buffer_size        = 1M
binlog_cache_size       = 64K
query_cache_size        = 32M
query_cache_limit       = 512K
max_connections         = 2000
max_connect_errors      = 100
concurrent_insert       = 2
connect_timeout         = 30
max_allowed_packet      = 32M
sql_mode            = NO_AUTO_CREATE_USER
max_heap_table_size         = 1G
bulk_insert_buffer_size     = 1G
tmp_table_size                  = 1G
table_cache             = 512
table_open_cache        = 512
thread_concurrency      = 16
thread_cache_size       = 100
key_buffer          = 1M
myisam_sort_buffer_size     = 128M
myisam_max_sort_file_size   = 256M
myisam_repair_threads       = 4
myisam_recover          = BACKUP
innodb_buffer_pool_size     = 32G
innodb_additional_mem_pool_size = 4M
innodb_status_file
innodb_file_per_table
innodb_flush_log_at_trx_commit  = 2
innodb_table_locks      = 0
innodb_log_buffer_size      = 128M
innodb_lock_wait_timeout    = 60
innodb_thread_concurrency   = 16
innodb_commit_concurrency   = 16
innodb_support_xa       = 0
skip-innodb-doublewrite
sync_binlog         = 1
transaction-isolation       = REPEATABLE-READ
symbolic-links=0
thread_cache_size = 4
query_cache_type = 1
slow-query-log
long_query_time         = 10
slow_query_log_file     = /var/log/mysql/mysql-slow.log
log-warnings            = 2
skip-slave-start
server-id = 22
skip-name-resolve
log-bin=/data2/var/log/mysql/mysql-bin
relay_log_purge=0
binlog-format=MIXED
log-bin-trust-function-creators = 1
slave-skip-errors = 1062,1146,1032
replicate-wild-ignore-table=%.norep%
table_definition_cache = 5000
[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
