```
[client]
port            = 3306
socket          = /var/run/mysqld/mysqld.sock
default-character-set = utf8mb4
[mysql]
no-auto-rehash
prompt         = \\u@\\h:\\d>
user           = root
[mysqld]
port            = 3306
socket          = /var/run/mysqld/mysqld.sock
basedir         = /usr
datadir         = /var/lib/mysql
tmpdir          = /tmp
lc-messages-dir = /usr/share/mysql
skip-external-locking
bind-address    = 127.0.0.1
max_connections = 151
max_allowed_packet = 64M
local-infile    = 0
default-storage-engine = InnoDB
innodb_buffer_pool_size = 128M
innodb_log_file_size = 48M
innodb_flush_log_at_trx_commit = 1
query_cache_type = 1
query_cache_size = 16M
thread_cache_size = 8
table_open_cache = 400
log_error = /var/log/mysql/error.log
slow_query_log = 1
slow_query_log_file = /var/log/mysql/slow.log
long_query_time = 2
general_log_file = /var/log/mysql/general.log
general_log = 0
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
log-bin = /var/log/mysql/mysql-bin.log
binlog_format = ROW
expire_logs_days = 7
pid-file        = /var/run/mysqld/mysqld.pid
user            = mysql
open_files_limit = 65535
key_buffer_size = 32M
performance_schema = 1
performance_schema_instrument = '%memory/%=on'
[mysqldump]
quick
max_allowed_packet = 64M
[mysqld_safe]
log-error=/var/log/mysql/mysqld_safe.log
pid-file=/var/run/mysqld/mysqld.pid
```
