```
[client]
port            = 3306
socket          = /var/lib/mysql/mysql.sock
default-character-set = utf8mb4
[mysql]
no-auto-rehash
default-character-set = utf8mb4
[mysqld]
user            = mysql
port            = 3306
basedir         = /usr/local/mysql
datadir         = /var/lib/mysql
socket          = /var/lib/mysql/mysql.sock
pid-file        = /var/lib/mysql/mysql.pid
log-error       = /var/lib/mysql/error.log
server-id       = 1
general_log     = 1
general_log_file = /var/lib/mysql/general.log
slow_query_log  = 1
slow_query_log_file = /var/lib/mysql/slow.log
log_queries_not_using_indexes = 1
long_query_time = 2
innodb_buffer_pool_size = 8G
innodb_log_buffer_size = 16M
key_buffer_size = 128M
sort_buffer_size = 2M
read_buffer_size = 1M
read_rnd_buffer_size = 1M
join_buffer_size = 2M
tmp_table_size = 64M
max_heap_table_size = 64M
max_connections = 151
max_user_connections = 100
thread_stack = 192K
thread_cache_size = 10
default_storage_engine = InnoDB
innodb_file_per_table = 1
innodb_flush_log_at_trx_commit = 1
innodb_log_file_size = 48M
skip-name-resolve
secure-file-priv = /var/lib/mysql/files
query_cache_type = 1
query_cache_size = 16M
query_cache_limit = 1M
table_open_cache = 200
open_files_limit = 1024
log_bin         = /var/lib/mysql/mysql-bin
expire_logs_days = 7
sync_binlog     = 1
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
lower_case_table_names = 1
tmpdir          = /tmp
[mysqld_safe]
log-error       = /var/lib/mysql/mysqld_safe.log
pid-file        = /var/lib/mysql/mysqld_safe.pid
!includedir /etc/my.cnf.d
```
