[client]
host=localhost
port=3306
socket=/var/run/mysqld/mysqld.sock
protocol=tcp
default-character-set=utf8mb4
connect-timeout=10
use=myuser
password=mysecretpassword
ssl-ca=/path/to/ca.pem
ssl-cert=/path/to/client-cert.pem
ssl-key=/path/to/client-key.pem
[mysql]
no-auto-rehash
prompt=\\u@\\h:\\d>\\_
max_allowed_packet=16M
[isamchk]
key_buffer=16M
[myisamchk]
key_buffer=16M
[mysqldump]
quick
max_allowed_packet=16M
[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
