[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
port=3306
pid-file=/var/lib/mysql/mysqld.pid
log-error=/var/lib/mysql/error.log
user=mysql
skip-log-bin
general_log=1
general_log_file=/var/lib/mysql/general.log
slow_query_log=1
slow_query_log_file=/var/lib/mysql/slow.log
long_query_time=2
max_connections=151
table_open_cache=2000
thread_cache_size=10
default_storage_engine=INNODB
innodb_buffer_pool_size=128M
innodb_log_file_size=48M
innodb_flush_log_at_trx_commit=1
innodb_file_per_table=1
server_id=1
relay_log=relay-bin
relay_log_index=relay-bin.index
log_slave_updates=1
bind-address=0.0.0.0
skip-networking=0
max_allowed_packet=64M
query_cache_type=1
query_cache_size=16M
tmp_table_size=32M
max_heap_table_size=32M
[client]
port=3306
socket=/var/lib/mysql/mysql.sock
default-character-set=utf8mb4
[mysqld_safe]
log-error=/var/lib/mysql/mysqld_safe.log
pid-file=/var/lib/mysql/mysqld_safe.pid
