```
[client]
port            = 3306
socket          = /var/run/mysqld/mysqld.sock
default-character-set = utf8mb4
[mysql]
no-auto-rehash
default-character-set = utf8mb4
[mysqld]
port            = 3306
basedir         = /usr
datadir         = /nonexistent/mysql/data
tmpdir          = /tmp
lc-messages-dir = /usr/share/mysql
skip-external-locking
bind-address    = 0.0.0.0
max_connections = 151
max_allowed_packet = 16M
log_error       = /var/log/mysql/error.log
slow_query_log  = 1
slow_query_log_file = /var/log/mysql/slow.log
long_query_time = 2
default-storage-engine = InnoDB
innodb_buffer_pool_size = 128M
innodb_log_file_size = 48M
innodb_flush_log_at_trx_commit = 1
skip-networking = 0
local-infile = 0
secure-file-priv = /var/lib/mysql_secure
key_buffer_size = 16M
table_open_cache = 400
sort_buffer_size = 2M
read_buffer_size = 2M
read_rnd_buffer_size = 1M
query_cache_type = 1
query_cache_size = 16M
[mysqldump]
quick
max_allowed_packet = 16M
[mysqld_safe]
log-error       = /var/log/mysql/mysqld_safe.log
pid-file        = /var/run/mysqld/mysqld.pid
!includedir /etc/my.cnf.d
```
