```
[client]
port            = 3306
socket          = /var/run/mysqld/mysqld.sock
default-character-set = utf8mb4
[mysql]
no-auto-rehash
default-character-set = utf8mb4
[mysqld]
bind-address    = 0.0.0.0
port            = 3306
user            = mysql
datadir         = /var/lib/mysql
socket          = /var/run/mysqld/mysqld.sock
pid-file        = /var/run/mysqld/mysqld.pid
log_error       = /var/log/mysql/error.log
slow_query_log_file = /var/log/mysql/slow.log
slow_query_log  = 1
general_log_file = /var/log/mysql/general.log
general_log     = 0
character-set-server  = utf8mb4
collation-server      = utf8mb4_unicode_ci
max_connections        = 151
table_open_cache       = 2000
tmp_table_size         = 16M
max_heap_table_size    = 16M
query_cache_type       = 1
query_cache_size       = 16M
thread_cache_size      = 10
innodb_buffer_pool_size = 128M
innodb_file_per_table   = 1
innodb_log_file_size    = 48M
innodb_flush_log_at_trx_commit = 1
skip-networking        = 0
secure-file-priv       = /var/lib/mysql
local-infile           = 0
[mysqldump]
quick
quote-names
max_allowed_packet     = 16M
[mysqld_safe]
log-error              = /var/log/mysql/mysqld_safe.log
pid-file               = /var/run/mysqld/mysqld.pid
[mysqlhotcopy]
interactive-timeout
```
