[mysqld]
port            = 3306
socket          = /var/run/mysqld/mysqld.sock
basedir         = /usr
datadir         = /var/lib/mysql
tmpdir          = /tmp
lc-messages-dir = /usr/share/mysql
skip-external-locking
key_buffer_size         = 128M
myisam_recover_options  = FORCE,BACKUP
max_allowed_packet      = 128M
max_connect_errors      = 1000000
skip-name-resolve
sysdate-is-now          = 1
innodb                  = FORCE
innodb_data_home_dir    = /var/lib/mysql/
innodb_data_file_path   = ibdata1:10M:autoextend
innodb_log_group_home_dir = /var/lib/mysql/
innodb_buffer_pool_size = 128M
innodb_log_file_size    = 48M
innodb_file_per_table   = 1
innodb_flush_log_at_trx_commit  = 1
log_error               = /var/log/mysql/error.log
slow_query_log          = 1
slow_query_log_file     = /var/log/mysql/mysql-slow.log
long_query_time         = 2
log_queries_not_using_indexes = 1
server-id               = 1
log_bin                 = /var/log/mysql/mysql-bin.log
expire_logs_days        = 10
max_binlog_size         = 100M
query_cache_type        = 1
query_cache_size        = 16M
query_cache_limit       = 1M
table_open_cache        = 200
thread_cache_size       = 10
tmp_table_size          = 32M
max_heap_table_size     = 32M
join_buffer_size        = 128M
sort_buffer_size        = 2M
read_buffer_size        = 2M
read_rnd_buffer_size    = 4M
bulk_insert_buffer_size = 16M
max_connections         = 151
thread_stack            = 192K
thread_concurrency      = 10
local-infile=0
[client]
port            = 3306
socket          = /var/run/mysqld/mysqld.sock
[mysqld_safe]
socket          = /var/run/mysqld/mysqld.sock
nice            = -5
log_error       = /var/log/mysql/error.log
!includedir /etc/mysql/conf.d/
