```
[mysqld]
port            = 3306
basedir         = /usr/local/mysql
datadir         = /usr/local/mysql/data
socket          = /var/lib/mysql/mysql.sock
pid-file        = /var/run/mysqld/mysqld.pid
user            = mysql
skip-networking = 0
bind-address    = 0.0.0.0
ssl-ca          = /etc/mysql/cacert.pem
ssl-cert        = /etc/mysql/server-cert.pem
ssl-key         = /etc/mysql/server-key.pem
innodb_buffer_pool_size = 128M
max_connections         = 151
query_cache_type        = 1
query_cache_size        = 16M
tmp_table_size          = 16M
max_heap_table_size     = 16M
log_error               = /var/log/mysql/error.log
slow_query_log          = 1
slow_query_log_file     = /var/log/mysql/slow.log
long_query_time         = 2
default_storage_engine  = InnoDB
character-set-server    = utf8mb4
collation-server        = utf8mb4_unicode_ci
sql_mode                = STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION
[mysqld_safe]
log-error= /var/log/mysql/mysqld_safe.log
pid-file = /var/run/mysqld/mysqld_safe.pid
[client]
port            = 3306
socket          = /var/lib/mysql/mysql.sock
default-character-set = utf8mb4
integrated-security = true
[mysql]
no-auto-rehash
prompt          = \\u@\\h:\\p [\\d]>
```
