[mysqld]
port            = 3306
socket          = /var/run/mysqld/mysqld.sock
basedir         = /usr
datadir         = /var/lib/mysql
tmpdir          = /tmp
lc-messages-dir = /usr/share/mysql
skip-external-locking
innodb_buffer_pool_size = 6G
innodb_buffer_pool_instances = 4
max_connections = 200
thread_cache_size = 100
thread_stack = 192K
table_open_cache = 2000
table_definition_cache = 2000
query_cache_type = 1
query_cache_size = 64M
query_cache_limit = 2M
sort_buffer_size = 2M
join_buffer_size = 2M
read_buffer_size = 1M
read_rnd_buffer_size = 1M
innodb_log_file_size = 256M
innodb_log_buffer_size = 8M
innodb_flush_log_at_trx_commit = 1
innodb_flush_method = O_DIRECT
innodb_file_per_table = 1
default_storage_engine = InnoDB
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
max_allowed_packet = 64M
tmp_table_size = 64M
max_heap_table_size = 64M
log_error = /var/log/mysql/error.log
slow_query_log = 1
slow_query_log_file = /var/log/mysql/slow.log
long_query_time = 2
log_queries_not_using_indexes = 1
bind-address = 127.0.0.1
skip-networking = 0
[mysqld_safe]
log_error = /var/log/mysql/mysqld_safe.log
pid-file = /var/run/mysqld/mysqld.pid
[client]
port = 3306
socket = /var/run/mysqld/mysqld.sock
default-character-set = utf8mb4
!includedir /etc/mysql/conf.d/
