```
[client]
port            = 3306
socket          = /var/run/mysqld/mysqld.sock
default-character-set = utf8mb4
[mysql]
no-auto-rehash
default-character-set = utf8mb4
[mysqld]
port            = 3306
user            = mysql
pid-file        = /var/run/mysqld/mysqld.pid
socket          = /var/run/mysqld/mysqld.sock
datadir         = /var/lib/mysql
log-error       = /var/log/mysql/error.log
server-id       = 1
bind-address    = 127.0.0.1
character-set-server  = utf8mb4
collation-server      = utf8mb4_unicode_ci
character-set-client  = utf8mb4
character-set-filesystem = utf8mb4
character-set-connection = utf8mb4
max_connections        = 151
table_open_cache       = 2000
query_cache_type       = 1
query_cache_size       = 16M
tmp_table_size         = 16M
max_heap_table_size    = 16M
innodb_buffer_pool_size = 128M
log_bin                = /var/log/mysql/mysql-bin.log
expire_logs_days       = 10
slow_query_log         = 1
slow_query_log_file    = /var/log/mysql/mysql-slow.log
long_query_time        = 2
[mysqld_safe]
log-error = /var/log/mysql/mysqld_safe.log
pid-file  = /var/run/mysqld/mysqld.pid
!includedir /etc/mysql/conf.d/
```
