```
[client]
port            = 3306
socket          = /opt/mysql/mysql.sock
default-character-set = utf8mb4
[mysqld]
user            = mysql
basedir         = /opt/mysql
datadir         = /opt/mysql/data
tmpdir          = /opt/mysql/tmp
socket          = /opt/mysql/mysql.sock
port            = 3306
pid-file        = /opt/mysql/mysqld.pid
log-error       = /opt/mysql/logs/error.log
log-error-verbosity = 3
general-log     = 1
general-log-file = /opt/mysql/logs/general.log
slow-query-log  = 1
slow-query-log-file = /opt/mysql/logs/slow.log
long_query_time = 2
log-bin         = /opt/mysql/logs/mysql-bin
server-id       = 1
binlog-format   = ROW
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
max_connections = 150
max_connect_errors = 10
table_open_cache = 200
thread_cache_size = 10
query_cache_type = 1
query_cache_size = 16M
default-storage-engine = InnoDB
innodb_buffer_pool_size = 128M
innodb_log_file_size = 48M
innodb_flush_log_at_trx_commit = 1
innodb_file_per_table = 1
key_buffer_size = 16M
sort_buffer_size = 2M
read_buffer_size = 1M
read_rnd_buffer_size = 1M
secure-file-priv = /opt/mysql/secure-files
skip-name-resolve
lower_case_table_names = 1
wait_timeout = 28800
interactive_timeout = 28800
max_allowed_packet = 16M
[mysqld_safe]
log-error = /opt/mysql/logs/mysqld_safe.log
pid-file = /opt/mysql/mysqld_safe.pid
[mysql]
no-auto-rehash
default-character-set = utf8mb4
!includedir /opt/mysql/conf.d
```
