[mysqld_safe]
slow_query_log=1
slow_query_log_file=/var/log/mysql/slow.log
default-storage-engine=MyISAM

[mysqld]
port=3306
bind-address=0.0.0.0
user=mysql
pid-file=/var/run/mysqld/mysqld.pid
socket=/var/run/mysqld/mysqld.sock
basedir=/usr
datadir=/var/lib/mysql
tmpdir=/tmp
lc-messages-dir=/usr/share/mysql
skip-external-locking
key_buffer_size=128M
max_allowed_packet=64M
table_open_cache=4096
sort_buffer_size=2M
net_buffer_length=8K
read_buffer_size=2M
read_rnd_buffer_size=4M
myisam_sort_buffer_size=64M
thread_cache_size=8
query_cache_size=64M
query_cache_type=1
max_connections=500
thread_concurrency=10
tmp_table_size=32M
max_heap_table_size=32M
slow_query_log=1
slow_query_log_file=/var/log/mysql/slow.log
log_queries_not_using_indexes=1
long_query_time=2
innodb_buffer_pool_size=256M
innodb_log_file_size=48M
innodb_log_buffer_size=8M
innodb_flush_log_at_trx_commit=1
innodb_file_per_table=1
innodb_flush_method=O_DIRECT
default_storage_engine=MyISAM
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci
max_join_size=1000000
sql_mode=NO_ENGINE_SUBSTITUTION

[client]
port=3306
socket=/var/run/mysqld/mysqld.sock
default-character-set=utf8mb4

[mysql]
no-auto-rehash
default-character-set=utf8mb4

!includedir /etc/mysql/conf.d/